<div class="market-growth">
    <h4 class="sub-heading">Why Us?</h4>
    <div class="wrapper">
        <div class="row">
            <div class="col-xl-6 col-md-5 col-12"><img loading="lazy" src="/images/home/why-us.webp" alt="">
            </div>
            <div class="col-xl-6 col-md-7 col-12">
                <p>Our business takes pride in giving Submerged arc furnace transformer, Induction Melting Furnace
                    transformers, Power Transformer, Dry type transformer, OLTC Fitted transformer, Distribution
                    Transformers, Earthing Transformers, Auxilliary Transformers, etc. of superior quality at very
                    affordable charges.</p>
                <ul>
                    <li>Prompt delivery</li>
                    <li>Wider range</li>
                    <li>Ethical and transparent business policy</li>
                    <li>Experience team</li>
                    <li>Competitive price</li>
                </ul>
            </div>
        </div>
    </div> 
</div> 
</div> 
</div> 

<%- include('./mainSidebar'); -%>