<!DOCTYPE html>
<html lang="en">

<head>
	<title>About Us | KVA Process Transformers </title>

	<%- include('partials/header'); -%>

		<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
		<div class="theme-inner-banner">
			<div class="overlay">
				<div class="container">
					<h2>ABOUT</h2>
				</div> <!-- /.container -->
			</div> <!-- /.overlay -->
		</div> <!-- /.theme-inner-banner -->


		<div class="our-case section-spacing pb-5">
			<div class="container">
				<div class="theme-title-one">
					<img src="/images/home/top-about-us-final.jpg" alt="">
					<p>We, kVA Process Transformers Pvt. Ltd., are established manufacturers of a wide range of
						transformers and electrical equipment, including Submerged Arc Melting Duty Transformers,
						Electric Arc Furnace Transformers (with or without Series Reactors), Ladle Refining Furnace Duty
						Transformers, Induction Furnace Transformers, Converter & Rectifier Duty Transformers, Power &
						Distribution Transformers, Automatic Step Voltage Transformers, Dry Type Transformers,
						Earthing/Neutral Grounding Transformers, Solar Transformers, and APFC/Distribution LT Panels.
					</p>
					<p>kVA Process has its manufacturing unit located in the industrial area of Howrah, adjacent to
						Kolkata, West Bengal. The facility boasts state-of-the-art infrastructure with a covered area of
						approximately 14,800 sq. ft. It is equipped with advanced fabrication and handling machinery,
						capable of handling single loads of up to 40 tons and lifting up to 15 meters.</p>
					<p>Our factory is equipped with modern testing equipment's to test transformers in accordance with
						IS, IEC, BS, ANSI, and NEMA standards (latest amendments). The test bed features digital and
						computerized meters, ensuring high-quality products.</p>
					<p>We adhere to IS standards and have a robust quality control system in place, from raw material
						procurement to final product testing, ensuring reliable products that meet customer requirements
						and accepted standards.</p>
					<p>We manufacture auxiliary transformers with high ratings, ranging from 3 MVA to 6 MVA, using
						special technology, such as CTC conductors in the LV winding. This design enhances robustness
						and prevents hot-spot heating in the windings. The use of this design concept is unique, and its
						implementation ensures a longer lifespan for the transformer. While it is more expensive than
						traditional methods, which are now obsolete for us, it offers significant advantages in terms of
						durability and performance.</p>
					<p>We have strong credentials in manufacturing transformers for all applications in our product
						range. We have successfully supplied numerous furnace-duty transformers to various steel plants.
					</p>
				</div> <!-- /.theme-title-one -->
			</div> <!-- /.container -->
		</div>


		<!--
			=====================================================
				Why We Best
			=====================================================
			-->
		<div class="why-we-best">
			<div class="overlay">
				<div class="container">
					<div class="theme-title-one">
						<h2>KVA Process Transformers</h2>
						<p>KVA PROCESS transformers are designed and tested as per national & international standards
							i.e. IS : 2026, IS : 1180, IEC 171, ASA C57 and other relevant IS and IE rules. With a
							strong team of experienced and technically sound members, you can trust us to deliver
							quality.</p>
					</div> <!-- /.theme-title-one -->

					<div class="wrapper row no-gutters">
						<div class="col-lg-6 col-12 order-lg-last">
							<div class="img-box"></div>
						</div>
						<div class="col-lg-6 col-12 order-lg-first">
							<ul class="best-list-item">
								<li>
									<i class="icon flaticon-puzzle"></i>
									<h5><a href="#">Tailored Approach</a></h5>
									<p>From CAD Drawings for quick approval to quick responses, we delivery quality,
										fast.</p>
								</li>
								<li>
									<i class="icon flaticon-presentation"></i>
									<h5><a href="#">High-Quality Products</a></h5>
									<p>We use the highest quality materials to manufacture transformers of high quality.
									</p>
								</li>
								<li>
									<i class="icon flaticon-people"></i>
									<h5><a href="#">Maintenance Services</a></h5>
									<p>We also provide transformer maintenance services. </p>
								</li>
							</ul>
						</div> <!-- /.col- -->
					</div> <!-- /.wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.overlay -->
		</div> <!-- /.why-we-best -->


		<!--
			=====================================================
				Theme Counter
			=====================================================
			-->
		<div class="theme-counter-two section-spacing pt-3 pb-3" style="background-color: #060996;">
			<div class="container">
				<div class="clearfix">
					<div class="cunter-wrapper">
						<div class="row cunter-row">
							<div class="col-md-3 col-6">
								<div class="single-counter-box">
									<div class="number"><span class="timer" data-from="0" data-to="25" data-speed="1200"
											data-refresh-interval="5">0</span>+</div>
									<p class="text-white">Years of Excellence</p>
								</div> <!-- /.single-counter-box -->
							</div> <!-- /.col- -->
							<div class="col-md-3 col-6">
								<div class="single-counter-box">
									<div class="number"><span class="timer" data-from="0" data-to="98" data-speed="1200"
											data-refresh-interval="5">0</span>%</div>
									<p class="text-white">Client Satisfaction</p>
								</div> <!-- /.single-counter-box -->
							</div> <!-- /.col- -->
							<div class="col-md-3 col-6">
								<div class="single-counter-box">
									<div class="number"><span class="timer" data-from="0" data-to="50" data-speed="1200"
											data-refresh-interval="5">0</span>k</div>
									<p class="text-white">Transformers Manufactured</p>
								</div> <!-- /.single-counter-box -->
							</div> <!-- /.col- -->
							<div class="col-md-3 col-6">
								<div class="single-counter-box">
									<div class="number"><span class="timer" data-from="0" data-to="40" data-speed="1200"
											data-refresh-interval="5">0</span>+</div>
									<p class="text-white">Cities with KVA Transformers</p>
								</div> <!-- /.single-counter-box -->
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.cunter-wrapper -->
				</div> <!-- /.clearfix -->
			</div> <!-- /.container -->
		</div> <!-- /.theme-counter -->


		<!--
			=====================================================
				Why Choose Us Section
			=====================================================
			-->
		<div class="why-choose-us section-spacing">
			<div class="container" style="display: flex; flex-direction: column; justify-content: center;">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title text-center">
							<h5 class="subtitle">25 Years Of Experience</h5>
							<h2 class="title">WHY CHOOSE US</h2>
						</div>
					</div>
				</div>

				<div class="features-list" style="display: grid; grid-template-columns: auto auto;  max-width: 1262px;">
					<div class="single-feature">
						<div class="icon">
							<img src="images/icon/whychoose-1.png" width="50px" alt="">
						</div>
						<div class="feature-content">
							<h3 style="font-size: clamp(16px, 2.5vw, 20px);">18000 sq. ft. state of the art
								manufacturing facility</h3>
						</div>
					</div>

					<div class="single-feature">
						<div class="icon">
							<img src="images/icon/whychoose-2.png" width="50px" alt="">
						</div>
						<div class="feature-content">
							<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Eco Friendly Operation and Manufacturing
							</h3>
						</div>
					</div>

					<div class="single-feature">
						<div class="icon">
							<img src="images/icon/whychoose-3.png" width="50px" alt="">
						</div>
						<div class="feature-content">
							<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Commitment to manufacturing quality
								products using internationally accepted norms</h3>
						</div>
					</div>

					<div class="single-feature">
						<div class="icon">
							<img src="images/icon/whychoose-4.png" width="50px" alt="">
						</div>
						<div class="feature-content">
							<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Fully equipped laboratory with high tech
								advanced instruments and highly qualified personnel</h3>
						</div>
					</div>

					<div class="single-feature">
						<div class="icon">
							<img src="images/icon/whychoose-5.png" width="50px" alt="">
						</div>
						<div class="feature-content">
							<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Best in class infrastructure</h3>
						</div>
					</div>

					<div class="single-feature">
						<div class="icon">
							<img src="images/icon/whychoose-6.png" width="50px" alt="">
						</div>
						<div class="feature-content">
							<h3 style="font-size: clamp(16px, 2.5vw, 20px);">More than 25 years of product Knowledge
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>


		<%- include('partials/footer'); -%>