<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Blog Details | KVA Process Transformers </title>

		<%- include('partials/header'); -%>

    	<!-- Theme Inner Banner -->
		<div class="theme-inner-banner section-spacing">
			<div class="overlay">
				<div class="container">
					<h2>Blog</h2>
				</div>
			</div>
		</div>

		<!-- Blog Detail Content -->
		<div class="blog-details section-spacing">
			<div class="container">
				<img src="images/home/blog-1.1.png" alt="">
			</div>
		</div>

		<%- include('partials/footer'); -%>