<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Our Clients | KVA Process Transformers </title>

		<%- include('partials/header'); -%>

        			<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
			<div class="theme-inner-banner section-spacing">
				<div class="overlay">
					<div class="container">
						<h2>Our Clients</h2>
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.theme-inner-banner -->

            <div class="our-case section-spacing">
				<div class="container">
					<div class="theme-title-one">
						<p>We are a leading transformers manufacturing company of India with over 25 years of experience. With a well-equipped manufacturing unit at the industrial hub of Howrah, West Bengal we produce highly efficient Power & Distribution transformers of various types, grades & capacities. Over the years, we have had the privilege to contribute to the growth story of many companies, here are some of our respected clients. </p>
                    </div> <!-- /.theme-title-one -->
				</div> <!-- /.container -->
			</div>

            <div class="our-case our-project section-spacing">
				<div class="container">
					<!-- <div class="wrapper">
						<div class="row">
                            <% let i = 1; %>
                            <% while (i < 54) {%> 
							<div class="col-lg-2 col-sm-2">
								<div class="single-case-block">
									<img loading="lazy" src="images/clients/<%= i %>.jpg" alt="">
								</div> 
							</div>
                            <% i++; %>
							<% }; %>
							
						</div> 
					</div>  -->
					<img src="images/home/Clientlogos.jpg" alt="">
				</div> <!-- /.container -->
			</div> <!-- /.our-case -->



            <%- include('partials/footer'); -%>