<!DOCTYPE html>
<html lang="en">

<head>
	<title>kVA Process Transformers |Transformers Manufacturing Company</title>
	<link rel="canonical" href="https://www.kvatransformer.com/" />

	<meta name="author" content="kVA Transformers Private Limited">
	<meta name="description"
		content="kVA Process Transformers is a leading manufacturer of high-quality industrial transformers and provides custom design, engineering & manufacturing services to meet specific needs." />

	<meta property="og:description" content="KVA Process Transformers | Kolkata's Transformer Maker">
	<meta property="og:image" content="https://www.kvatransformer.com/images/home/kva-process-transformer.webp">
	<meta property="og:site_name" content="KVA Process Transformers">
	<meta property="og:title" content="KVA Process Transformers | Kolkata's Transformer Maker">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.kvatransformer.com/">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@KvaProcess">
	<meta name="twitter:creator" content="@KvaProcess">
	<meta property="article:publisher"
		content="https://www.facebook.com/kVA-Process-Transformers-Pvt-Ltd-1386089578349270" />

	<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "Corporation",
			  "name": "KVA Process Transformers",
			  "alternateName": "KVA Process Transformers Private Limited",
			  "url": "https://www.kvatransformer.com/",
			  "logo": "https://www.kvatransformer.com/images/logo/logo.png",
			  "contactPoint": {
				"@type": "ContactPoint",
				"telephone": "+919830252113",
				"contactType": "sales",
				"areaServed": "IN",
				"availableLanguage": ["en","Hindi","Bengali"]
			  },
			  "sameAs": [
				"https://www.facebook.com/kVA-Process-Transformers-Pvt-Ltd-1386089578349270",
				"https://twitter.com/KvaProcess",
				"https://www.instagram.com/kva_process_transformers/",
				"https://www.youtube.com/channel/UCK3RxK4IL609FEfh3vQfJ_Q",
				"https://www.linkedin.com/company/kva-process-transformers/"
			  ]
			}
		</script>

	<%- include('partials/header'); -%>
		<!-- 
			=============================================
				Theme Main Banner
			============================================== 
			-->
		<div id="theme-main-banner" class="banner-one">
			<div data-src="images/home/banner-1.jpg">
				<div class="camera_caption">
					<div class="container">
						<div class="mobile-view-heading">
							<p class="wow fadeInUp animated">We make</p>
						</div>
						<h1 class="wow fadeInUp animated" data-wow-delay="0.3s">Customized Furnace <br>transformers <br>for
							several industries</h1>
						<!-- <a href="/contact" class="theme-button-one wow fadeInUp animated" data-wow-delay="0.49s">CONTACT
							US</a> -->
					</div> <!-- /.container -->
				</div> <!-- /.camera_caption -->
			</div>
			<div data-src="images/home/banner-2-final.jpg">
				<div class="camera_caption">
					<div class="container">
						<div class="mobile-view-heading">
						<p class="wow fadeInUp animated">kVA Process Transformers</p>
					</div>
						<h1 class="wow fadeInUp animated" data-wow-delay="0.3s">Leading Furnace <br>Transformer 
							<br>Manufacturer in India</h1>
						<!-- <a href="/contact" class="theme-button-one wow fadeInUp animated" data-wow-delay="0.49s">CONTACT
							US</a> -->
					</div> <!-- /.container -->
				</div> <!-- /.camera_caption -->
			</div>
			<div data-src="images/home/Banner-3.jpg">
				<div class="camera_caption">
					<div class="container">
						<div class="mobile-view-heading">
						<p class="wow fadeInUp animated">kVA Process Transformers</p>
						</div>
						<h1 class="wow fadeInUp animated" data-wow-delay="0.3s">Manufacturing Robust
							<br>Furnace Transformers</h1>
						<!-- <a href="/contact" class="theme-button-one wow fadeInUp animated" data-wow-delay="0.49s">CONTACT
							US</a> -->
					</div> <!-- /.container -->
				</div> <!-- /.camera_caption -->
			</div>
		</div> <!-- /#theme-main-banner -->



		<!-- 
			=============================================
				About Company
			============================================== 
			-->
		<div class="about-compnay section-spacing pb-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12" style="display: flex;align-items: center;"><img loading="lazy"
							class="home-image" src="images/home/About-us-image.jpg"
							alt="KVA Process Manufactured Transformer"></div>
					<div class="col-lg-6 col-12">
						<div class="text">
							<div class="theme-title-one">
								<h2>About Our Company</h2>
								<p>kVA Process Transformer is a trusted leader in manufacturing high-quality
									transformers and electrical systems. With over 25 years of expertise, we specialize
									in Submerged Arc Melting Furnace Transformers, Dry-Type Transformers,
									Energy-Efficient Power and Distribution Transformers, HT Automatic Step Voltage
									Regulators, Specialized Transformers, and MCC, PCC, PDB, and LT Control Panels.
								</p>
								<p>Our manufacturing unit is located in Howrah Kona, West Bengal, are equipped with
									cutting-edge machinery capable of handling 40-ton loads and lifts up to 15 meters.
									We adhere to global standards like IS: 2026, IS: 1180, IEC 171, and ASA C57, with
									products tested by reputed laboratories and honored with the BIS Level-II
									certification by the Bureau of Energy Efficiency (BEE).
								</p>
								<p>In addition to manufacturing, we provide overhauling, repairing, and hiring services,
									delivering comprehensive solutions that combine innovation,
									reliability, and excellence. </p>
							</div> <!-- /.theme-title-one -->
						</div> <!-- /.text -->
						<div class="home-read-more"><a href="/about" class="theme-button-one">Read More</a></div>
					</div> <!-- /.col- -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.about-compnay -->


		<!-- 
			=============================================
				Feature Banner
			============================================== 
			-->
		<div class="feature-banner section-spacing">
			<div class="opacity">
				<div class="container">
					<h2>We have a well equipped manufacturing facility &amp; 25+ years of experience.</h2>
					<div class="catalogue-button" style="display: flex; justify-content: center; gap: 40px;">
						<a href="/manufacturing-process" class="theme-button-one">Learn More about our process</a>
						<a href="/images/portfolio/kva transformer catalogue.pdf" download class="theme-button-one">Download Catalogue</a>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.opacity -->
		</div> <!-- /.feature-banner -->


		<!-- 
			=============================================
				Service Style One
			============================================== 
			-->
		<div class="service-style-one section-spacing pt-5">
			<div class="container">
				<div class="theme-title-one">
					<h2>Our Products</h2>
					<p>We produce ISI Certified transformers, ensuring low losses & high efficiency. Manufactured with
						the best quality materials to utmost perfection, check out our standard range of transformers
						below. Feel free to contact us at kVA Process Transformers Pvt. Ltd. for more details about the
						same. </p>
				</div> <!-- /.theme-title-one -->
				<div class="wrapper">
					<div class="row">
						<div class="col-xl-4 col-md-6 col-12">
							<div class="single-service">
								<div class="img-box"><img loading="lazy" src="images/home/subMergedTransformerHome.webp"
										alt="Image Of Sub Merged Acr Furnace Transformer"></div>
								<div class="text">
									<h5><a href="/products/sub-merged-arc-furnace-transformers">SUB MERGED ARC FURNACE
											TRANSFORMERS</a></h5>
									<p>Upto 65 MVA, 33KV</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						<div class="col-xl-4 col-md-6 col-12">
							<div class="single-service">
								<div class="img-box" style="display: flex; align-items: center;"><img loading="lazy"
										src="images/home/LRF-Transformer.jpeg.jpg"
										alt="Image of a distribution transformer"></div>
								<div class="text">
									<h5 style="text-transform: uppercase;"><a href="/products/lt-panel-board">Lrf Transformer</a></h5>
									<p>By kVA Process Transformers</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						<div class="col-xl-4 col-md-6 col-12">
							<div class="single-service">
								<div class="img-box"><img loading="lazy"
										src="images/home/inductionMeltingTransformerHome.webp"
										alt="Image of Induction Melting Furnace Transformer"></div>
								<div class="text">
									<h5><a href="/products/induction-melting-furnace-transformers">INDUCTION MELTING
											FURNACE TRANSFORMERS</a></h5>
									<p>Up to 21 MVA, 33 KV class</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						<div class="col-xl-4 col-md-6 col-12">
							<div class="single-service">
								<div class="img-box" style="display: flex; align-items: center;"><img loading="lazy"
										src="images/home/Rectifier-or-Converter-Duty-Transformer.jpeg.jpg"
										alt="Image of a distribution transformer"></div>
								<div class="text">
									<h5 style="text-transform: uppercase;"><a href="/products/Rectifier-transformer">Rectifier / Converter Duty Transformers</a></h5>
									<p>By kVA Process Transformers</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						
						<div class="col-xl-4 col-md-6 col-12">
							<div class="single-service">
								<div class="img-box" style="display: flex; align-items: center;"><img loading="lazy" src="images/home/power-transformer.webp"
										alt="Image of a power	transformer"></div>
								<div class="text">
									<h5><a href="/products/power-transformers">POWER TRANSFORMERS</a></h5>
									<p>Up to 50 MVA, 132 KV class</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						<div class="col-xl-4 col-md-6 col-12">
							<div class="single-service">
								<div class="img-box" style="display: flex; align-items: center;"><img loading="lazy"
										src="images/home/Auxiliary-transformer.jpg"
										alt="Image of a distribution transformer"></div>
								<div class="text">
									<h5><a href="/products/Auxiliary-transformers">AUXILIARY TRANSFORMERS</a></h5>
									<p>By kVA Process Transformers</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						<div class="col-xl-4 col-md-6 col-12">
							<div class="single-service">
								<div class="img-box"><img loading="lazy" src="images/home/dryTypeTransformerHome.webp"
										alt="Image of a dry type transformer"></div>
								<div class="text">
									<h5><a href="/products/dry-type-transformers">DRY TYPE TRANSFORMERS</a></h5>
									<p>Up to 3000 kVA, 33 KV class</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						<div class="col-xl-4 col-md-6 col-12">
							<div class="single-service">
								<div class="img-box"><img loading="lazy" src="images/home/OLTCTransformerHome.webp"
										alt="Image of a OLTC Fitted transformer"></div>
								<div class="text">
									<h5><a href="/products/oltc-fitted-transformer-asvr">OLTC FITTED TRANSFORMER
											ASVR</a></h5>
									<p>Up to 50 MVA, 132 KV class</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						<div class="col-xl-4 col-md-6 col-12">
							<div class="single-service">
								<div class="img-box"><img loading="lazy"
										src="images/home/distributionTransformerHome.webp"
										alt="Image of a distribution transformer"></div>
								<div class="text">
									<h5 ><a href="/products/distribution-transformers">DISTRIBUTION TRANSFORMERS</a></h5>
									<p>From 25 kVA to 5000 kVA, 33 KV class</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						
						
						<div class="col-xl-4 col-md-6 col-12">
							<div class="single-service">
								<div class="img-box" style="display: flex; align-items: center;"><img loading="lazy"
										src="images/home/solar-transformer.png"
										alt="Image of a distribution transformer"></div>
								<div class="text">
									<h5 style="text-transform: uppercase;"><a href="/products/lt-panel-board">Solar Transformer</a></h5>
									<p>By kVA Process Transformers</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						<div class="col-xl-4 col-md-6 col-12">
							<div class="single-service">
								<div class="img-box"><img loading="lazy" src="images/home/earthingTransformerHome.webp"
										alt="Image of a distribution transformer"></div>
								<div class="text">
									<h5><a href="/products/earthing-transformers">EARTHING TRANSFORMERS</a></h5>
									<p>Earthing & Grounding Transformers</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						<div class="col-xl-4 col-md-6 col-12">
							<div class="single-service">
								<div class="img-box" style="display: flex; align-items: center;"><img loading="lazy"
										src="images/home/LT-Panel-Board.jpeg.jpg"
										alt="Image of a distribution transformer"></div>
								<div class="text">
									<h5 style="text-transform: uppercase;"><a href="/products/lt-panel-board">LT Panel Board</a></h5>
									<p>By kVA Process Transformers</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-service -->
						</div> <!-- /.col- -->
						
						
					</div> <!-- /.row -->
				</div> <!-- /.wrapper -->
				<div class="contact-text">
					<h4>You can also send us an email and we'll get in touch shortly, or Call us</h4>
					<h5><a href="mailto:kVAmahesh@yahoo.com">kvamahesh@yahoo.com</a> <a href="tel:919831823173 ">+91 98318 23173 </a>  <a href="tel:919830252113">+91
							98302 52113</a>  </h5>
				</div>
			</div> <!-- /.container -->
		</div> <!-- /.service-style-one -->





<!--
			=====================================================
				Product FAQ Section
			=====================================================
			-->
			<div class="product-faq section-spacing" style="background: #060996; padding: 80px 0;">
				<div class="container">
					<div class="theme-title-one" style="margin-bottom: 50px;">
						<h2 style="color: #fff;">FAQ</h2>
						<!-- <h1 style="color: #fff; font-size: 48px; margin: 10px 0;"></h1> -->
					</div>
	
					<div class="row">
						<div class="col-lg-6">
							<div class="faq-item">
								<div onclick="toggleAnswer(this)"
									style="cursor: pointer; color: #fff; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(255,255,255,0.1); padding: 15px 0;">
									<span style="font-weight: 600">What types of furnace transformers do you manufacture?
									</span>
									<span class="arrow">›</span>
								</div>
								<div class="faq-answer"
									style="color: #fff; padding: 15px 0; text-align: justify;">
									At kVA Process Transformers, we manufacture various furnace transformers, including:
									<ul>
										<li><strong>Arc Furnace Transformers:</strong> Used in electric arc furnaces for
											steel production.</li>
										<li><strong>Submerged Arc Furnace Transformers:</strong> Designed for submerged arc
											furnaces in metal smelting.
										</li>
										<li><strong>Electric Arc Furnace Transformers:</strong> Provide power for melting
											scrap metal using electric arcs.
										</li>
										<li><strong>Ladle Refining Furnace Transformers:</strong> Utilized in secondary
											metallurgy for refining molten steel.
										</li>
										<li><strong>Induction Melting Furnace Transformers:</strong> Employ electromagnetic
											induction to melt ferrous and non-ferrous metals.
										</li>
									</ul>
									<p class="mt-3">Each transformer is engineered to meet specific industrial requirements,
										ensuring optimal performance and efficiency.
									</p>
								</div>
							</div>
							<div class="faq-item" >
								<div onclick="toggleAnswer(this)"
									style="cursor: pointer; color: #fff; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(255,255,255,0.1); padding: 0 0 15px 0;">
									<span style="font-weight: 600">Can you customize transformers according to specific needs?</span>
									<span class="arrow">›</span>
								</div>
								<div class="faq-answer" style=" color: #fff; padding: 15px 0;">
									Yes, at kVA Process Transformers, we specialize in customizing transformers to meet your
									specific requirements. Our skilled engineers collaborate closely with clients to design
									and manufacture transformers tailored to unique industry needs. This personalized
									approach ensures optimal performance and efficiency for your applications.
								</div>
							</div>
							<div class="faq-item" >
								<div onclick="toggleAnswer(this)"
									style="cursor: pointer; color: #fff; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(255,255,255,0.1); padding: 0 0 15px 0;">
									<span style="font-weight: 600">What quality standards do your products meet?</span>
									<span class="arrow">›</span>
								</div>
								<div class="faq-answer" style=" color: #fff; padding: 15px 0;">
									At kVA Process Transformers, our products adhere to stringent quality standards to
									ensure exceptional performance and reliability. We are ISO 9001:2000 certified,
									reflecting our commitment to maintaining rigorous quality management systems.
									Additionally, our transformers are designed and tested in accordance with international
									standards such as IS: 2026, IS: 1180, IEC 171, and ASA C57, ensuring compliance with
									industry benchmarks.
	
								</div>
							</div>
							<div class="faq-item">
								<div onclick="toggleAnswer(this)"
									style="cursor: pointer; color: #fff; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(255,255,255,0.1); padding: 0 0 15px 0;">
									<span style="font-weight: 600">How do you ensure the safety and reliability of your transformers?</span>
									<span class="arrow">›</span>
								</div>
								<div class="faq-answer" style=" color: #fff; padding: 15px 0;">
									At kVA Process Transformers, we prioritize the safety and reliability of our
									transformers through rigorous quality assurance and control measures. Our approach
									includes meticulous design processes, stringent adherence to international standards,
									and comprehensive testing protocols. By implementing these practices, we ensure that
									each transformer delivers optimal performance and meets the highest safety benchmarks.
	
								</div>
							</div>
							<div class="faq-item">
								<div onclick="toggleAnswer(this)"
									style="cursor: pointer; color: #fff; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(255,255,255,0.1); padding: 0 0 15px 0;">
									<span style="font-weight: 600">What is the average lifespan of your furnace transformers?</span>
									<span class="arrow">›</span>
								</div>
								<div class="faq-answer" style=" color: #fff; padding: 15px 0;">
									At kVA Process Transformers, our furnace transformers are engineered for durability, with an average lifespan of 20 to 30 years. Regular maintenance is essential to ensure optimal performance and longevity. Factors such as operating conditions and maintenance practices can influence the actual service life of the transformer.
	
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="faq-item" >
								<div onclick="toggleAnswer(this)"
									style="cursor: pointer; color: #fff; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(255,255,255,0.1); padding: 0 0 15px 0;">
									<span style="font-weight: 600">Do you provide after-sales support?</span>
									<span class="arrow">›</span>
								</div>
								<div class="faq-answer" style=" color: #fff; padding: 15px 0;">
									Yes, at kVA Process Transformers, we offer comprehensive after-sales support and maintenance services for our transformers. Our dedicated support team is available to address your queries and provide troubleshooting assistance. Timely support is essential for maintaining transformer efficiency and longevity.
	
								</div>
							</div>
							<div class="faq-item" >
								<div onclick="toggleAnswer(this)"
									style="cursor: pointer; color: #fff; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(255,255,255,0.1); padding: 0 0 15px 0;">
									<span style="font-weight: 600">How can I get a quote?</span>
									<span class="arrow">›</span>
								</div>
								<div class="faq-answer" style=" color: #fff; padding: 15px 0;">
									You can get a quote by contacting us through our website, email, or phone.
								</div>
							</div>
							<div class="faq-item" >
								<div onclick="toggleAnswer(this)"
									style="cursor: pointer; color: #fff; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(255,255,255,0.1); padding: 0 0 15px 0;">
									<span style="font-weight: 600">What Is The Lead Time For Delivery?</span>
									<span class="arrow">›</span>
								</div>
								<div class="faq-answer" style="color: #fff; padding: 15px 0;">
									To request a quote from kVA Process Transformers, please visit our Contact Us page. You can fill out the inquiry form with your specific requirements, and our sales team will reach out to you promptly. Alternatively, you can contact us directly via email at kvamahesh@yahoo.com or by phone at +91 98318 23173 / +91 98302 52113.
								</div>
							</div>
							<div class="faq-item" >
								<div onclick="toggleAnswer(this)"
									style="cursor: pointer; color: #fff; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(255,255,255,0.1); padding: 0 0 15px 0;">
									<span style="font-weight: 600">What is the lead time for delivery?</span>
									<span class="arrow">›</span>
								</div>
								<div class="faq-answer" style=" color: #fff; padding: 15px 0;">
									The lead time for transformer delivery varies based on product specifications and order quantity. Once we have your specific requirements, we can provide an estimated delivery date. Please contact us directly to discuss your project details.
								</div>
							</div>
							<div class="faq-item" >
								<div onclick="toggleAnswer(this)"
									style="cursor: pointer; color: #fff; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(255,255,255,0.1); padding: 0 0 15px 0;">
									<span style="font-weight: 600">What is a furnace transformer?</span>
									<span class="arrow">›</span>
								</div>
								<div class="faq-answer" style=" color: #fff; padding: 15px 0;">
									A furnace transformer is a specialized electrical transformer designed to supply power to industrial furnaces. It adjusts the voltage to meet the specific requirements of the furnace, ensuring efficient and safe operation during processes such as melting, heating, or smelting metals. These transformers are engineered to handle high currents and thermal stresses, making them essential for heavy-duty industrial applications.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>




		<!--
			=====================================================
				Theme Counter
			=====================================================
			-->
		<div class="theme-counter">
			<div class="container">
				<div class="bg">
					<h6>Company Success</h6>
					<h2>Numbers & kVA Process Transformers</h2>

					<div class="cunter-wrapper">
						<div class="row  cunter-row">
							<div class="col-md-3 col-6">
								<div class="single-counter-box">
									<div class="number" style="color: #060996;"><span class="timer" data-from="0" data-to="25" data-speed="1200"
											data-refresh-interval="5">0</span>+</div>
									<p>Years of Excellence</p>
								</div> <!-- /.single-counter-box -->
							</div> <!-- /.col- -->
							<div class="col-md-3 col-6">
								<div class="single-counter-box">
									<div class="number" style="color: #060996;"><span class="timer" data-from="0" data-to="98" data-speed="1200"
											data-refresh-interval="5">0</span>%</div>
									<p>Client Satisfaction</p>
								</div> <!-- /.single-counter-box -->
							</div> <!-- /.col- -->
							<div class="col-md-3 col-6">
								<div class="single-counter-box">
									<div class="number" style="color: #060996;"><span class="timer" data-from="0" data-to="50" data-speed="1200"
											data-refresh-interval="5">0</span>k</div>
									<p>Transformers Manufactured</p>
								</div> <!-- /.single-counter-box -->
							</div> <!-- /.col- -->
							<div class="col-md-3 col-6">
								<div class="single-counter-box">
									<div class="number" style="color: #060996;"><span class="timer" data-from="0" data-to="40" data-speed="1200"
											data-refresh-interval="5">0</span>+</div>
									<p>Cities with kVA Transformers</p>
								</div> <!-- /.single-counter-box -->
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.cunter-wrapper -->
					<a href="/contact" class="theme-button-one">We Also Rent & Do Transformer Maintenance</a>
				</div> <!-- /.bg -->
			</div> <!-- /.container -->
		</div> <!-- /.theme-counter -->


		<!--
			=====================================================
				Partner Slider
			=====================================================
			-->
		<div class="partner-section bg-color">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-12">
						<h6>RESPECTED <br>CLIENTS</h6>
					</div>
					<div class="col-md-9 col-sm-8 col-12">
						<div class="partner-slider">
							<% let i=1; %>
								<% while (i < 54) {%>
									<div class="item"><img loading="lazy" src="images/logo/<%= i %>.jpg" alt=""></div>
									<% i++ %>
										<% }; %>

						</div>
					</div>
				</div>
			</div>
		</div> <!-- /.partner-section -->




		

		<style>
			.faq-item .arrow {
				transition:  0.5s ease-in;
			}

			.faq-item.active .arrow {
				transform: rotate(90deg);
			}

			.faq-answer {
				background: rgba(255, 255, 255, 0.05);
				margin-top: 10px;
				padding: 20px !important;
				border-radius: 4px;
				font-size: 0.9em;
				line-height: 1.6;
				max-height: 0;
				overflow: hidden;
				transition: 0.5s ease-in-out;
				padding: 0 20px !important;
			}

			.faq-answer.show {
				max-height: 1000px;
				padding: 20px !important;
			}

			#theme-main-banner {
				position: relative;
				width: 100%;
				height: 100vh; /* Full viewport height */
				overflow: hidden;
			}

			#theme-main-banner .camera_wrap {
				height: 100% !important;
			}

			#theme-main-banner .camera_slide {
				height: 100% !important;
			}

			#theme-main-banner .camera_target {
				height: 100% !important;
			}

			#theme-main-banner .cameraSlide img {
				object-fit: fill !important;
				object-position: center;
			}

			/* Responsive adjustments */
			@media (max-width: 768px) {
				#theme-main-banner {
					height: 70vh; /* Slightly shorter on tablets */
				}
			}

			@media (max-width: 480px) {
				#theme-main-banner {
					height: 50vh; /* Even shorter on mobile */
				}
			}

			/* Ensure content stays centered */
			.camera_caption {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
			}

			/* .mobile-view-heading {
				margin-bottom: 1rem;
			} */
		</style>

		<script>
			function toggleAnswer(element) {
				const parent = element.parentElement;
				const answer = parent.querySelector('.faq-answer');
				const allAnswers = document.querySelectorAll('.faq-answer');
				const allItems = document.querySelectorAll('.faq-item');

				allAnswers.forEach(item => {
					if (item !== answer) {
						item.classList.remove('show');
						item.parentElement.classList.remove('active');
					}
				});

				answer.classList.toggle('show');
				parent.classList.toggle('active');
			}
		</script>

		<%- include('partials/footer'); -%>