<!DOCTYPE html>
<html lang="en">

<head>
    <title>Manufacturing Process | KVA Process Transformers </title>

    <%- include('partials/header'); -%>

        <!-- 
		=============================================
			Theme Inner Banner
		============================================== 
		-->

        <div class="theme-inner-banner section-spacing">
            <div class="overlay">
                <div class="container">
                    <h2>Transformer Manufacturing Process</h2>
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div> <!-- /.theme-inner-banner -->

        <div class="about-compnay-two no-bg section-spacing pt-5">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-12 order-lg-first">
                            <img loading="lazy" src="images/home/transformer-designing.webp" alt="Transformer Design Layout" class="left-img">
                        </div>
                        <div class="col-lg-8 col-12 text order-lg-last">
                            <div class="theme-title-one process-left">
                                <h2>1. Transformers Technology & Design</h2>
                            </div> <!-- /.theme-title-one -->
                            <p>Our experience of transformer designing spanning more than a decade is our strength to
                                satisfy customer requirement. Our team of well qualified expert engineers & technocrats
                                has developed optimized designs, which are most reliable and affordable for recent
                                market scenario. Our design activity confirms to the various standard like
                                BIS/IEC/BS/ANSI, NEMA. All the drawings are CAD for quick review while getting approval
                                and thereafter, the final drawings can be submitted on a CD along with a print copy as
                                required. All aspects of transformer design (Electrical & Mechanical) comprising Losses,
                                % Impedance, Guaranteed Temperature Rise, Pressure & Vacuum withstand capability etc.
                                are taken care of in our design development. Further our fault detection, Analysis and
                                their solutions are gracefully welcomed by many reputed customers with their entire
                                satisfaction.</p>
                        </div> <!-- /.col- -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div>

        <div class="about-compnay-two no-bg section-spacing pt-5">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-12 order-lg-last">
                            <img loading="lazy" src="images/home/transforming-winding-process.webp" alt="Transformer Winding Process" class="right-img">
                        </div>
                        <div class="col-lg-8 col-12 text order-lg-first">
                            <div class="theme-title-one process-right">
                                <h2>2. Windings</h2>
                            </div> <!-- /.theme-title-one -->
                            <p>Transformer windings are designed to meet three fundamental requirements, viz.
                                mechanical, thermal and electrical. They are cylindrical in shape and are assembled
                                concentrically. Paper insulated conductors of high conductivity and soft drawn
                                Electrolytic grade copper is used which comply with the latest Indian as well as
                                international standards. Windings are made with great care by well experienced skilled
                                Disc Winding workers in dust free & temperature controlled environment.</p>
                            <p>Insulation between layers and turns is based upon the electrical and mechanical strength
                                level. Inter layer cooling ducts (Axial & Radial) are provided to minimize the
                                temperature gradient between windings and oil, and hence the hot spot temperature is
                                kept to a minimum. This also ensures that the rate of insulation deterioration is
                                minimized and high life expectancy is achieved.

                                Transpositions are made in multiple conductor windings, to ensure uniform current
                                distributions, minimize circulating currents, decrease eddy current loss and improve the
                                lamination factor.</p>
                            <p>Multiple conductor layer wound coils are most suitable for low voltage windings of large
                                power transformers to mitigate high current designs requirement. For High voltage
                                windings the disc coils with excellent mechanical strength are used to take the stresses
                                due to voltage level. Special interleaved or shielded construction offers most uniform
                                voltage distribution despite system transient. Specialized disc winding and inter-leaved
                                disc windings are used having very high series capacitance giving a very good impulse
                                voltage performance.

                                For better short circuit withstand ability under fault conditions, would coils are
                                pressed, clamped and dried in oven prior to impregnation in oil. Cooling ducts formed
                                with rigid, high density spacers and horizontal and vertical ducts are provided to save
                                hot spots.</p>
                        </div> <!-- /.col- -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div>

        <div class="about-compnay-two no-bg section-spacing pt-5">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-12 order-lg-first">
                            <img loading="lazy" src="images/home/transformer-core-manufacturing.webp" alt="transformer-core-manufacturing" class="left-img">
                        </div>
                        <div class="col-lg-8 col-12 text order-lg-last">
                            <div class="theme-title-one process-left">
                                <h2>3. Core Building</h2>
                            </div> <!-- /.theme-title-one -->
                            <p>The most significant material in a transformer is the core. KVA PROCESS uses high quality
                                Cold Rolled Grain Oriented Magnetic Silicon Steel to ensure optimum losses and most
                                efficient working of the Transformer. The type of magnetic steel is chosen according to
                                the desired loss level. The laminations are cut geometrically to ensure optimum flow of
                                magnetic flux and minimum air gap between the joint of two consecutive sheets. The
                                supporting structures and clamping devices of the core contribute to the compactness of
                                the design and also ensure low sound levels.</p>
                            <p>The core is designed with safe flux density to minimize core loss and magnetizing
                                current. But-lap, miter or step-lap-miter construction is chosen based on the
                                application and core-loss requirements.

                                Laminations are burr free fully annealed with low Loss and very thin between 0.23 mm and
                                0.30 mm, varying no more than + 0.05 mm in length for lowest sound level and excitation
                                currents. Each lamination is covered with a high-resistance, inorganic coating to reduce
                                eddy currents.</p>
                            <p>The Laminations are handled with utmost care to preserve magnetic properties. The core is
                                clamped in a rigid frame with uniform pressure to reduce mechanical effect on
                                performance.

                                Core is built with Cold Rolled Grain Oriental, low loss silicon steel lamination. Bonded
                                core design / technique is used to eliminate hole punching and to minimize fixed losses
                                and Magnetizing current. Use of Hib grade & Laser scribed Laminations and Rigid clamps
                                significantly reduce vibrations and noise level. Cooling ducts are provided in large
                                transformers for efficient circulation of oil to keep temperature of core well within
                                limit without affecting the flux distortion and also in the core suitable insulation
                                paper are inserted between some laminations for the purpose of reducing eddy currents
                                and also minimizing magnetic short circuit.</p>
                        </div> <!-- /.col- -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div>

        <div class="about-compnay-two no-bg section-spacing pt-5">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-12 order-lg-last">
                            <img loading="lazy" src="images/home/tranformer-core-assembly.webp" alt="tranformer-core-assembly" class="right-img">
                        </div>
                        <div class="col-lg-8 col-12 text order-lg-first">
                            <div class="theme-title-one process-right">
                                <h2>4. Core And Assembly</h2>
                            </div> <!-- /.theme-title-one -->
                            <p>KVA PROCESS uses high electrical grade Precompressed Pressboard & kraft paper, as per IS
                                : 1576. The insulating papers are routinely checked for high dielectric strength.
                                Permali wood is also used in top and bottom for mechanical strength</p>
                            <p>L.V. Windings are normally placed near core over insulating cylinder and oil ducts. HV
                                windings are assembled co-axially with respected to L.V. Spacers between coils are 'T'
                                shaped for added firmness. Coils are assembled with best insulating materials and are
                                adequately clamped. The winding is rigidly supported by a common spacer ring of
                                densified wood at the top and bottom for precise alignment. Well profiled angled rings
                                are placed between LV & HV windings to reduce voltage stress level. The ends & tapping
                                leads of all windings are connected by special extra flexible, insulated copper cables
                                which are rigidly braced in position.</p>
                            <p>Coil design and quality are keys to transformer efficiency and longevity. KVA Process
                                design coils specially for each application. We use thermally upgraded paper for longest
                                insulation life.</p>
                        </div> <!-- /.col- -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div>
        <div class="about-compnay-two no-bg section-spacing pt-5">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-12 order-lg-first">
                            <img loading="lazy" src="images/home/transformer-tank-construction.webp" alt="transformer-tank-construction" class="left-img">
                        </div>
                        <div class="col-lg-8 col-12 text order-lg-last">
                            <div class="theme-title-one process-left">
                                <h2>5. Tank Construction</h2>
                            </div> <!-- /.theme-title-one -->
                            <p>All our tanks are fabricated with high grade tested mild steel. The design of the tanks
                                incorporated adequate wall and base thickness so as to withstand the pressure build up
                                in the tank.</p>
                            <p>Protection of active part in transformer is very important. While achieving the optimized
                                size of transformer to suit the site condition for installation. The main role of the
                                tank is to protect the active part and tank is manufacture to have sufficient strengths
                                to withstand internal & external faults that may occur during operation. Tanks are
                                fabricated from low carbon M.S. Sheet of best quality proceeds by qualified welders. The
                                tank is designed to withstand vacuum and pressure test as per Indian/International
                                standards. A robust skid under base is provided, and guide bars are located inside the
                                tank to securely fix the core and windings assembly in position, and to prevent any
                                movement during transportation.</p>
                            <p>Each transformer tank is tested for leakage by filling them with oil and keeping then
                                under pressure of 0.5 KG / Cm2 or above for several hours. With this test even minute
                                leaks are detected.</p>
                        </div> <!-- /.col- -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div>

        <div class="about-compnay-two no-bg section-spacing pt-5">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-12 order-lg-last">
                            <img loading="lazy" src="images/home/tranformer-cooling-system.webp" alt="tranformer-cooling-system" class="right-img">
                        </div>
                        <div class="col-lg-8 col-12 text order-lg-first">
                            <div class="theme-title-one process-right">
                                <h2>6. Cooling System</h2>
                            </div> <!-- /.theme-title-one -->
                            <p>The transformer while in service gets heated and Electrical Losses like Load Loss & No
                                Load Loss which must be dissipated to avoid the exceeding the Temperature Rise limit
                                specified by Customers. To achieve Temperature Rise well within limit, a suitable
                                cooling method is be adopted.

                                Generally, the cooling method suitable for the transformer is determined by the customer
                                after due consideration of transformer capacity and the circumstances at the
                                installation site. KVA PROCESS can design and manufacture transformer with various types
                                of cooling systems according to the customer's requirement.</p>
                            <ol>
                                <li>ONAN: For ONAN Cooling Pressed sheet steel radiators are used for cooling ensuring
                                    that greater surface area is available for high dissipation. The radiators are
                                    independently pressure tested and then mounted on the tank.</li>
                                <li>ONAF: For ONAF Cooling, Fans are mounted vertically near the radiators for their
                                    optimum use For OFWF Cooling, Heat Exchangers, oil pumps, oil flow meter, water flow
                                    meter, pressure meters, differential pressure gauge is used to suit the losses of
                                    transformers at 150% loading condition.</li>
                                <li>OFAF</li>
                                <li>AN</li>
                            </ol>
                        </div> <!-- /.col- -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div>
        <div class="about-compnay-two no-bg section-spacing pt-5">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-12 order-lg-first">
                            <img loading="lazy" src="images/home/transformer-oiling.webp" alt="transformer-oiling" class="left-img">
                        </div>
                        <div class="col-lg-8 col-12 text order-lg-last">
                            <div class="theme-title-one process-left">
                                <h2>7. Oil</h2>
                            </div> <!-- /.theme-title-one -->
                            <p>The insulating oil used is low viscosity with good resistance to oxidation and formation
                                of sludge and acids. Moisture content, dielectric strength etc is determined and
                                certified by conduct relevant tested as per IS : 335/1993. Generally we use “TRANSOL”
                                brand, 'SAVITA' make EHV grade oil.</p>
                        </div> <!-- /.col- -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div>

        <div class="about-compnay-two no-bg section-spacing pt-5 pb-5">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-12 order-lg-last">
                            <img loading="lazy" src="images/home/transformer-testing-facility.webp" alt="transformer-testing-facility" class="right-img">
                        </div>
                        <div class="col-lg-8 col-12 text order-lg-first">
                            <div class="theme-title-one process-right">
                                <h2>8. Testing</h2>
                            </div> <!-- /.theme-title-one -->
                            <p>Our testing lab is fully equipped with digital and computerised testing meters and
                                accessories to conduct all routine tests as per ISS & IEC upto 25 MVA and upto 132 KV
                                Voltage grade. The list of routine test are as follows :
                            <ol>
                                <li>Measurement of winding resistance.</li>
                                <li>Measurement of voltage ratio and check of voltage vector relationship.</li>
                                <li>Measurement of impedance voltage (principal tappings) and Load Loss.</li>
                                <li>Measurement of No load loss and current.</li>
                                <li>Measurement of insulation resistance.</li>
                                <li>Dielectric Test and</li>
                                <li>Test on On Load Tap Changers, where appropriate. Transformer Test Control Pan</li>
                            </ol>
                            </p>
                        </div> <!-- /.col- -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div>

        <%- include('partials/footer'); -%>