<!DOCTYPE html>
<html lang="en">

<head>
	<title>Earthing Transformers| KVA Process Transformers </title>


	<%- include('partials/header'); -%>

		<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
		<div class="theme-inner-banner section-spacing">
			<div class="overlay">
				<div class="container">
					<h2>Earthing Transformers</h2>
				</div> <!-- /.container -->
			</div> <!-- /.overlay -->
		</div> <!-- /.theme-inner-banner -->


		<!-- 
			=============================================
				Service Details
			============================================== 
			-->
		<div class="service-details section-spacing">
			<div class="container">
				<div class="row pt-5 pb-5">
					<div class="col-xl-9 col-lg-8 col-12">
						<div class="service-content">
							<div style="display: flex; justify-content: center;">
								<img src="/images/home/earthing-transformers-final.png" width="500px" alt="earthing-transformers"
									class="cover-img">
								<img src="/images/home/earthing-transformer-image-final.png" width="400px" alt="earthing-transformers"
									class="cover-img">
							</div>
							<p>
								A grounding transformer or earthing transformer is a vital component in three-phase
								electric power systems. It provides an essential link between the system and the ground
								to help protect against electrical shocks and system failure. With its ability to
								provide a ground path to either an ungrounded wye or delta-connected system, it makes it
								possible for operations personnel to safely work on equipment without having to worry
								about potential electric shock risks.</p>
							<p>
								Earthing transformers are an essential part of electrical power systems. As a standard
								reactor, they provide a neutral connection to the power system, allowing for safe and
								efficient distribution of electricity. Earthing transformers also help protect against
								faults in the system, ensuring reliable electricity supply. Moreover, the earthing
								transformers could power a nearby auxiliary load.</p>
							<p>
								The zigzag transformer is a unique and advanced technology that offers a reliable,
								cost-effective solution to earthing requirements. It combines two phases offset by 120°
								in a zigzag or interconnected star winding connection, resulting in efficient power
								distribution and improved safety. This type of transformer is suitable for industrial
								and commercial applications, providing enhanced earthing protection while reducing power
								losses.</p>
							<p>Earthing transformers are essential components in an electrical network, creating a
								neutral point and enabling the safe operation of the system. The most common connection
								type used is ZN, which provides both linear and specified zero sequence impedance.
								Alternatively, YN+d connections can also be applied to achieve the desired effect. Both
								solutions provide effective earthing for any given network.</p>
							<h4 class="sub-heading">Product Scope</h4>

							<p>Voltage level: up to 170 kV</p>

							<h4 class="sub-heading">Why KVA Process Transformers?</h4>
							<p>KVA Process Transformers are designed to provide the most optimized and efficient
								substation system design. With a wide range of references in different voltage systems
								and substations, KVA Process Transformers have become the go-to choice for many
								engineers.</p>
							<p>KVA Process Transformers offer superior performance and reliability due to their
								optimized design which is fully in line with the requirements of a substation system.
								They are an excellent option for any project because they are simple to install and
								maintain. With their robust construction, they can withstand harsh environmental
								conditions while providing reliable performance over time.</p>

						</div>
					</div>

					<div class="col-xl-3 col-lg-4 col-12">
						<%- include('partials/mainSidebar'); -%>
					</div>

				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.service-details -->

		<!--
			=====================================================
				Why Choose Us Section
			=====================================================
			-->
		<div class="why-choose-us section-spacing">
			<div class="container" style="display: flex; flex-direction: column; justify-content: center;">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title text-center">
							<h5 class="subtitle">25 Years Of Experience</h5>
							<h2 class="title">WHY CHOOSE US</h2>
						</div>
					</div>
				</div>

				<div class="features-list" style="display: grid; grid-template-columns: auto auto;  max-width: 1262px;">
					<div class="single-feature">
						<div class="icon">
							<img src="/images/icon/whychoose-1.png" width="50px" alt="">
						</div>
						<div class="feature-content">
							<h3 style="font-size: clamp(16px, 2.5vw, 20px);">26000 sq. ft. state of the art
								manufacturing facility</h3>
						</div>
					</div>

					<div class="single-feature">
						<div class="icon">
							<img src="/images/icon/whychoose-2.png" width="50px" alt="">
						</div>
						<div class="feature-content">
							<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Eco Friendly Operation and Manufacturing
							</h3>
						</div>
					</div>

					<div class="single-feature">
						<div class="icon">
							<img src="/images/icon/whychoose-3.png" width="50px" alt="">
						</div>
						<div class="feature-content">
							<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Commitment to manufacturing quality
								products using internationally accepted norms</h3>
						</div>
					</div>

					<div class="single-feature">
						<div class="icon">
							<img src="/images/icon/whychoose-4.png" width="50px" alt="">
						</div>
						<div class="feature-content">
							<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Fully equipped laboratory with high tech
								advanced instruments and highly qualified personnel</h3>
						</div>
					</div>

					<div class="single-feature">
						<div class="icon">
							<img src="/images/icon/whychoose-5.png" width="50px" alt="">
						</div>
						<div class="feature-content">
							<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Best in class infrastructure</h3>
						</div>
					</div>

					<div class="single-feature">
						<div class="icon">
							<img src="/images/icon/whychoose-6.png" width="50px" alt="">
						</div>
						<div class="feature-content">
							<h3 style="font-size: clamp(16px, 2.5vw, 20px);">More than 25 years of product Knowledge
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>


		<%- include('partials/footer'); -%>