<!DOCTYPE html>
<html lang="en">

<head>
    <title>Distribution Transformers | KVA Process Transformers </title>


    <%- include('partials/header'); -%>

        <!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
        <div class="theme-inner-banner section-spacing">
            <div class="overlay">
                <div class="container">
                    <h2>Distribution Transformers</h2>
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div> <!-- /.theme-inner-banner -->


        <!-- 
			=============================================
				Service Details
			============================================== 
			-->
        <div class="service-details section-spacing">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-xl-9 col-lg-8 col-12">
                        <div class="service-content">
                            <img src="/images/home/distribution-transformer.webp" alt="distribution-transformer"
                                class="cover-img">
                            <p>
                                KVA PROCESS Covers a wide range of oil filled distribution transformers with ON LOAD tap
                                changer and OFF LOAD tap changer up to and including 5000 KVA range in 6 KV, 11 KV, 22
                                KV, and 33 KV voltage classes. KVA PROCESS confirming INTERNATIONAL standards of quality
                                and safety. These transformers are assembled using the conventional stacked core. These
                                Distribution transformers are designed and developed using latest technologies and can
                                be provided with a variety of terminals. If distribution transformer mounted on utility
                                pole, they are called pole mounted transformers. If the distribution transformer lies
                                are located at ground level distribution transformers are mounted on concrete pads and
                                locked in steel cases thus known as a pad mounted transformer. </p>
                            <p>
                                Optimum efficiency is ensured by delicate proportioning of core and winding losses using
                                CRGO M3 TO M5, MOH, Laminations electrolytic grade 99.9 % pure copper with transposition
                                in LV coil for current sharing in parallel conductors, electric grade press paper,
                                boards and mineral oil. Aluminium wound distribution transformers are made by
                                electrolytic aluminium conductor in place of copper, these types of transformers are
                                generally manufactured up to 300 KVA as per customer requirements. Thus, better
                                regulation is achieved resulting in longer life. Careful designing also reduces noise
                                level to the minimum.</p>
                            <p>KVA PROCESS always maintained standards with fulfilment of customers’ requirements. These
                                distribution transformers are installed in a three-phase distribution network (usually
                                as a part of urban / institutional requirements) and could be used by electricity
                                distribution companies, public utilities, farms, factories, multiplexes and real estate
                                ventures for further distribution or capacitive power requirements..</p>
                            <h3 class="main-title">Product Details:</h3>
                            <h4 class="sub-heading">Different categories based on:</h4>
                            <ul class="productOrder">
                                <li>Mounting location : pole mount , pad mount</li>
                                <li>Type of insulation : liquid immersed , dry type</li>
                                <li>No of phases : single phase , three phase</li>
                                <li>Voltages : 6 Kv , 11Kv, 33kV</li>

                            </ul>
                            </br>
                            <h4 class="sub-heading">Standard Specifications:</h4>
                            <ul class="productOrder">
                                <li>CAPACITY: UPTO 5000 KVA</li>
                                <li>NO OF PHASES: 03 PHASE</li>
                                <li>FREQUENCY: 50 Hz</li>
                                <li>VOLTAGE: 11KV/22KV/33KV</li>
                                <li>TAPS: ON LOAD / OFF LOAD AS PER CUSTOMER REQUIREMENT</li>
                                <li>INSULATIONS: CLASS A</li>
                                <li>VECTOR GROUP: AS PER CUSTOMER REQUIREMENTS</li>
                                <li>CONNECTIONS: AS PER CUSTOMER REQUIREMENTS</li>
                                <li>DUTY CYCLE: CONTINUOUS</li>
                                <li>WINDING COPPER/ ALUMINIUM: AS PER CUSTOMER REQUIREMENTS</li>
                                <li>TERMINALS: AS PER CUSTOMER REQUIREMENT</li>

                            </ul>

                            </br>
                            <img src="/images/home/distribution-transformer2.jpg" alt="distribution-transformer"
                                class="cover-img">
                            <!-- <h3 class="main-title">Successfully Installed at:</h3> -->
                            <!-- <table class="product-table">
                                <thead>
                                    <tr>
                                        <th>Client Name </th>
                                        <th>Location </th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>Adhunik Group of Industries</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>Aditya Birla Group</td>
                                    <td>Barbil</td>
                                </tr>
                                <tr>
                                    <td>Aircel Monile India Ltd.</td>
                                    <td>Patna</td>
                                </tr>
                                <tr>
                                    <td>Alstom Ltd.</td>
                                    <td>Durgapur, West Bengal.</td>
                                </tr>
                                <tr>
                                    <td>Ambuja Cement Ltd.</td>
                                    <td>Patna, Bihar</td>
                                </tr>
                                <tr>
                                    <td>Andaman & Niccobar Eletricity Board</td>
                                    <td>Port Blair, Andaman.</td>
                                </tr>
                                <tr>
                                    <td>ANDREW YULE & COMPANY LIMITED</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>BHARAT COKING COAL LIMITED.</td>
                                    <td>Dhanbad.</td>
                                </tr>
                                <tr>
                                    <td>Bhutan Power Corporation Ltd.</td>
                                    <td>Thimpu, Bhutan</td>
                                </tr>
                                <tr>
                                    <td>BIECCO LAWRIE LTD</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>Big Shop</td>
                                    <td>Ranchi</td>
                                </tr>
                                <tr>
                                    <td>Bishan Dayal Goyal & Sons Pvt. Ltd.</td>
                                    <td>Barjora, Durgapur.</td>
                                </tr>
                                <tr>
                                    <td>Capital Hills Hotel (5 Star Hotel)</td>
                                    <td>Ranchi</td>
                                </tr>
                                <tr>
                                    <td>CESC Ltd.</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>Charring Cross Nurshing Home</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>Dungsam Cement Corporation Limited,</td>
                                    <td>Nganglam, Pemagatshel, Bhutan.</td>
                                </tr>
                                <tr>
                                    <td>Durgapur Steel Plant.</td>
                                    <td>Durgapur, West Bengal.</td>
                                </tr>
                                <tr>
                                    <td>Eastern Coalfields Ltd.</td>
                                    <td>Asansol, West Bengal.</td>
                                </tr>
                                <tr>
                                    <td>Electro Steel casting Ltd.</td>
                                    <td>Bokaro, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>Essel Minning & Industries Ltd.</td>
                                    <td>Barbil</td>
                                </tr>
                                <tr>
                                    <td>Gamon India Ltd.</td>
                                    <td>Mumbai</td>
                                </tr>
                                <tr>
                                    <td>Haldia Steel Ltd.</td>
                                    <td>Durgapur, West Bengal.</td>
                                </tr>
                                <tr>
                                    <td>Haldiram Bhujiawala Ltd.</td>
                                    <td>Singore, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>IFB Agro Industries Ltd.</td>
                                    <td>Kalyani</td>
                                </tr>
                                <tr>
                                    <td>Impex Group</td>
                                    <td>Bokaro, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>India Dairy Products Ltd.</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>Indian Oil Corporation Ltd.</td>
                                    <td>Rajbandh, West Bengal.</td>
                                </tr>
                                <tr>
                                    <td>Jindal Power & Steel</td>
                                    <td>Barbil, Orissa,</td>
                                </tr>
                                <tr>
                                    <td>K.R. Steel Pvt. Ltd.</td>
                                    <td>Hyderabad</td>
                                </tr>
                                <tr>
                                    <td>L&T Group</td>
                                    <td>Arunachal Pradesh,</td>
                                </tr>
                                <tr>
                                    <td>LA - Opala Ltd.</td>
                                    <td>Uttrakhand</td>
                                </tr>
                                <tr>
                                    <td>Manipur State Power Distribution Company Limited</td>
                                    <td>Imphal, Manipur</td>
                                </tr>
                                <tr>
                                    <td>Neepaz V Forge (India) Ltd.</td>
                                    <td>Aurangabad</td>
                                </tr>
                                <tr>
                                    <td>Railway's</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>Rashmi Metaliks Ltd.</td>
                                    <td>Jhargram, West Bengal.</td>
                                </tr>
                                <tr>
                                    <td>Sharda Shree Ispat Ltd.</td>
                                    <td>Nagpur.</td>
                                </tr>
                                <tr>
                                    <td>Shayam Steel Industries Ltd.</td>
                                    <td>Durgapur, West Bengal.</td>
                                </tr>
                                <tr>
                                    <td>Shree Casting Pvt. Ltd.</td>
                                    <td>Nagpur.</td>
                                </tr>
                                <tr>
                                    <td>Shree Cement Ltd.</td>
                                    <td>Bangur, Rajasthan</td>
                                </tr>
                                <tr>
                                    <td>Simplex Infrastructures Ltd.</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>South Eastern Coalfields Ltd.</td>
                                    <td>Bilaspur, </td>
                                </tr>
                                <tr>
                                    <td>Tata Motor Engg. Ltd.</td>
                                    <td>Jamshedpur,</td>
                                </tr>
                                <tr>
                                    <td>Texmaco Ltd.</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>The Ffort Radiassion Resort</td>
                                    <td>Raichak, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>Tripura State Electricity Corporation Ltd.</td>
                                    <td>Agartala, Tripura</td>
                                </tr>
                                <tr>
                                    <td>University of Kalyani</td>
                                    <td>Kalyani, West Bengal.</td>
                                </tr>
                                <tr>
                                    <td>WELSPUN CORP LIMITED</td>
                                    <td>Kutch, Gujrat</td>
                                </tr>


                            </table> -->
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-12">
                        <%- include('partials/mainSidebar'); -%>
                    </div>

                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.service-details -->
        <!--
			=====================================================
				Why Choose Us Section
			=====================================================
			-->
        <div class="why-choose-us section-spacing">
            <div class="container" style="display: flex; flex-direction: column; justify-content: center;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h5 class="subtitle">25 Years Of Experience</h5>
                            <h2 class="title">WHY CHOOSE US</h2>
                        </div>
                    </div>
                </div>

                <div class="features-list" style="display: grid; grid-template-columns: auto auto;  max-width: 1262px;">
                    <div class="single-feature">
                        <div class="icon">
                            <img src="images/icon/whychoose-1.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">26000 sq. ft. state of the art
                                manufacturing facility</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="images/icon/whychoose-2.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Eco Friendly Operation and Manufacturing
                            </h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="images/icon/whychoose-3.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Commitment to manufacturing quality
                                products using internationally accepted norms</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="images/icon/whychoose-4.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Fully equipped laboratory with high tech
                                advanced instruments and highly qualified personnel</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="images/icon/whychoose-5.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Best in class infrastructure</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="images/icon/whychoose-6.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">More than 25 years of product Knowledge
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <%- include('partials/footer'); -%>