<!DOCTYPE html>
<html lang="en">

<head>
    <title>Power Transformers | KVA Process Transformers </title>


    <%- include('partials/header'); -%>

        <!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
        <div class="theme-inner-banner section-spacing">
            <div class="overlay">
                <div class="container">
                    <h2>Power Transformers</h2>
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div> <!-- /.theme-inner-banner -->


        <!-- 
			=============================================
				Service Details
			============================================== 
			-->
        <div class="service-details section-spacing">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-xl-9 col-lg-8 col-12">
                        <div class="service-content">
                            <img src="/images/home/power-transformer-top-image-replace.jpg" alt="sub-merged-arc-furnace-transformer"
                                class="cover-img">
                            <p>
                                Power transformers are passive devices that use magnetic fields to transfer energy from
                                one circuit to another. It is a reliable way to move energy without having to use any
                                physical contact. Power transformers set themselves apart from the other transformer
                                varieties due to their functionality of meeting regulatory standards for operating with
                                mains power. Power transformers are ideal for powering machines as they can face mains
                                voltages and heavy currents. A power transformer's most crucial feature is its
                                insulation between the primary and secondary line which is usually specified in
                                kilovolts (kV). This plays a vital role in safeguarding human life from any potentially
                                dangerous earth faults.
                            </p>
                            <p>
                                Power transformers are essential pieces of equipment that allow us to transmit energy
                                from the generator to the primary distribution circuits. By using a power transformer,
                                we can adjust the voltage and current of electricity to ensure that it is properly
                                distributed throughout the electrical or electronic circuit. Power transformers are used
                                in a wide variety of applications, including residential and industrial settings, making
                                them an invaluable tool for keeping our electrical systems running smoothly. To
                                accommodate varying voltage levels in distribution networks, power transformers are
                                often used to create step-down and step-up connections.
                            </p>
                            <p>
                                KVA Process Transformers is the leader in providing efficient, reliable and
                                cost-effective medium power (MV) transformers. We understand the importance of power and
                                have developed a comprehensive range of products to meet our customers' needs. Our
                                transformers are designed to provide high productivity and efficiency rates, ensuring
                                that users get the most out of their energy consumption. No matter what your industry or
                                application may require, we have a transformer solution for you. Our team of experts
                                have designed our power transformers to exceed the MV range, giving you a customised
                                selection of oil-immersed and fluid-filled transformers. This means you can trust in the
                                quality and reliability of each transformer. To ensure that our range of power
                                transformers is effective, our team of experts provides a tailored selection of both
                                fluid-filled and oil-immersed transformers. This goes beyond the standard medium voltage
                                and gives users customized solutions they can rely on.
                            </p>
                            <h3 class="main-title">Product Details:</h3>
                            <h4 class="sub-heading">Specifications:</h4>
                            <ul class="productOrder">
                                <li>Capacity: Up to 50000 KVA</li>
                                <li>No. of Phases: 03 phase</li>
                                <li>Frequency: 50 Hz</li>
                                <li>Voltage: 11kv/22kv/33kv/66kv/132kv</li>
                                <li>Taps: On load / Off load as per customer requirement</li>
                                <li>Insulations: Class A</li>
                                <li>Vector group: As per customer requirements</li>
                                <li>Connections: As per customer requirements</li>
                                <li>Duty cycle: Continuous</li>
                                <li>Winding: Copper</li>
                                <li>Terminals: As per customer requirement</li>

                            </ul>
                            </br>
                            <h4 class="sub-heading">Standard Fittings</h4>
                            <table class="product-table">
                                <tr>
                                    <td>RATING AND DIAGRAM PLATE</td>
                                    <td>EXPLOSION VENT WITH DIAPHRAGM</td>
                                    <td>Jacking pads</td>
                                </tr>
                                <tr>
                                    <td>EARTHING TERMINALS</td>
                                    <td>TOP FILTER VALVE </td>
                                    <td>Haulage lugs</td>
                                </tr>
                                <tr>
                                    <td>LIFTING LUGS</td>
                                    <td>INSPECTION COVER </td>
                                    <td>Magnetic oil gauge with minimum oil marking </td>
                                </tr>
                                <tr>
                                    <td>THERMOMETER POCKET </td>
                                    <td>SILICAGEL BREATHER </td>
                                    <td>Sampling valves </td>
                                </tr>
                                <tr>
                                    <td>OIL CONSERVATOR WITH OIL FILLING HOLE AND DRAIN PLUG </td>
                                    <td>DRAIN  VALVE &   BOTTOM FILTER VALVE</td>
                                    <td>RADIATOR VALVE</td>
                                </tr>
                                <tr>
                                    <td>AIR  RELEASE HOLE WITH PLUG</td>
                                    <td>COOLING RADIATOR</td>
                                    <td>VALVE SCHEDULE PLATE </td>
                                </tr>
                                <tr>
                                    <td>OIL LEVEL INDICATOR </td>
                                    <td>BI / UNI DIRECTIONAL ROLLER</td>
                                    <td>Buchholz relay with alarm and trip contact</td>
                                </tr>
                                <tr>
                                    <td>Oil Temp. Indicator with alarm & trip contact</td>
                                    <td>Winding Temp. indicator with alarm & trip contact</td>
                                    <td>FANS FOR ONAF </td>
                                </tr>
                                <tr>
                                    <td>Marshalling box</td>
                                    <td>ON LOAD TAP CHANGER / OFF LOAD TAP CHANGER </td>
                                    <td>RTCC PANNEL </td>
                                </tr>
                                <tr>
                                    <td>Electronic Automatic Voltage Controller( FOR OLTC)</td>
                                    <td>Capacitive bushing </td>
                                    <td></td>
                                </tr>

                            </table>

                            </br>
                            <img src="/images/home/power-transformer.webp" alt="sub-merged-arc-furnace-transformer"
                                class="cover-img">
                            <!-- <h3 class="main-title">Successfully Installed at:</h3> -->
                            <!-- <table class="product-table">
                                <thead>
                                    <tr>
                                        <th>Client Name </th>
                                        <th>Location </th>
                                        <th>Specifications </th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>Aditya Birla Group (Essel Minning)</td>
                                    <td>Rourkela</td>
                                    <td>5 MVA, 33000/11000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>CESC Ltd.</td>
                                    <td>Kolkata</td>
                                    <td>16 MVA, 33000/11000 Volts</td>
                                </tr>
                                <tr>
                                    <td>Global Hi-Tech Ltd. </td>
                                    <td>Gujrat</td>
                                    <td>20 MVA, 66000/11000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Global Hi-Tech Ltd. </td>
                                    <td>Gujrat</td>
                                    <td>15 MVA, 66000/11000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Impex Group</td>
                                    <td>Bokaro</td>
                                    <td>12.5 MVA, 33000/11000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Kerela Alloys Ltd.</td>
                                    <td>Kerala</td>
                                    <td>16 MVA, 33000/11000 Volts</td>
                                </tr>
                                <tr>
                                    <td>Lal Steel Pvt. Ltd. </td>
                                    <td>Kerala</td>
                                    <td>10 MVA, 33000/11000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Neelam Electrical Industries Pvt. Ltd. </td>
                                    <td>Bokaro</td>
                                    <td>3150 KVA, 33000/11000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Power & Electricity Department. </td>
                                    <td>Mizoram</td>
                                    <td>6.5 MVA, 33000/11000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Royalex Metal Industries </td>
                                    <td>Bangladesh</td>
                                    <td>12.5 MVA, 33000/11000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>RUKMINIRAMA STEEL ROLLINGS PVT. LTD.</td>
                                    <td>Goa</td>
                                    <td>10 MVA, 66000/11000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Shikkim Ispat Ltd.</td>
                                    <td>shikkim</td>
                                    <td>12.5 MVA, 33000/11000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Texmaco Rail & Engineering Ltd.</td>
                                    <td>Kolkata</td>
                                    <td>10 MVA, 33000/11000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Tokai Power Products Ltd.</td>
                                    <td>Bangladesh</td>
                                    <td>10 MVA, 33000/11000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>South Malabar Steels And Alloys Pvt. Ltd.</td>
                                    <td>Kerela</td>
                                    <td>7.5 MVA, 33000/11000 Volts, OLTC FITTED</td>
                                </tr>

                            </table> -->


                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-12">
                        <%- include('partials/mainSidebar'); -%>
                    </div>

                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.service-details -->

        <!--
			=====================================================
				Why Choose Us Section
			=====================================================
			-->
        <div class="why-choose-us section-spacing">
            <div class="container" style="display: flex; flex-direction: column; justify-content: center;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h5 class="subtitle">25 Years Of Experience</h5>
                            <h2 class="title">WHY CHOOSE US</h2>
                        </div>
                    </div>
                </div>

                <div class="features-list" style="display: grid; grid-template-columns: auto auto;  max-width: 1262px;">
                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-1.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">26000 sq. ft. state of the art
                                manufacturing facility</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-2.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Eco Friendly Operation and Manufacturing
                            </h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-3.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Commitment to manufacturing quality
                                products using internationally accepted norms</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-4.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Fully equipped laboratory with high tech
                                advanced instruments and highly qualified personnel</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-5.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Best in class infrastructure</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-6.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">More than 25 years of product Knowledge
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('partials/footer'); -%>