<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dry Type Transformers | KVA Process Transformers </title>


    <%- include('partials/header'); -%>

        <!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
        <div class="theme-inner-banner section-spacing">
            <div class="overlay">
                <div class="container">
                    <h2>Dry Type Transformers</h2>
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div> <!-- /.theme-inner-banner -->


        <!-- 
			=============================================
				Service Details
			============================================== 
			-->
        <div class="service-details section-spacing">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-xl-9 col-lg-8 col-12">
                        <div class="service-content">
                            <img src="/images/home/dry-type-transformer.webp" alt="dry-type-transformer"
                                class="cover-img">
                            <p>
                                Dry Type Transformers are Vacuum impregnated type with class 'C' insulation having
                                allowable temperature 140 degree Centigrade. The insulating materials used in Fiber
                                Glass Cylinders and windings having NOMEX insulation with 50:50 overlap. Nomex
                                insulation is known for its high dielectric strength and resilience to high
                                temperatures. It meets all the standards outlined in IEC 76/IS 2026/IS 11171, giving it
                                an edge over other insulation materials.
                            </p>
                            <h3 class="main-title">Product Details:</h3>
                            <h4 class="sub-heading">Dry Type Transformers are available in the following versions :</h4>
                            <ul class="productOrder">
                                <li>Installation of this system can be done in an existing panel or enclosure using an
                                    open execution type. </li>
                                <li>A well-ventilated indoor chamber equipped with lip cut louvers and built-in buffers
                                    to provide optimum protection. </li>
                                <li>A secure, non-ventilated enclosure designed specifically for outdoor installation is
                                    now available. This enclosure protects your equipment from unexpected weather
                                    conditions and other environmental risks. It also provides a secure, safe space that
                                    allows you to easily access the equipment stored inside. </li>
                            </ul>
                            </br>
                            <h4 class="sub-heading">Dry Type Transformers have the following advantages :</h4>
                            <ul class="productOrder">
                                <li>Non-biodegradable materials are ideal for applications in rigorous environmental
                                    settings due to their durability.</li>
                                <li>The use of non-flammable materials and exclusion of liquids reduce any risk of fire
                                    or explosions, making them a safe option for insulation.</li>
                                <li>The absence of an oil sump makes it the ideal option for locations close to the load
                                    centre, reducing cabling expenses and providing better voltage regulation.</li>
                            </ul>
                            </br>
                            <h4 class="sub-heading">Zero Maintenance</h4>
                            <ul class="productOrder">
                                <li>By eliminating the need for any insulation liquid, maintenance expenses are
                                    significantly reduced and the overall look is much cleaner.</li>
                                <li>Doing a life cycle analysis can shed light on the cost-effectiveness of Dry Type
                                    Transformers in the long haul despite its higher initial price.</li>
                                <li>It's effortless to access and manage components for inspection, helping keep
                                    everything running smoothly.</li>
                            </ul>
                            </br>
                            <h4 class="sub-heading">Dry Type Transformers are ideally suitable for installations in:
                            </h4>
                            <ul class="productOrder">
                                <li>Underground gassy mines.</li>
                                <li>Petrochemical refineries.</li>
                                <li>Multi-storied buildings.</li>
                                <li>Business Blocks & supermarkets.</li>
                                <li>Congested Metropolitan urban areas.</li>
                                <li>Underground Railways.</li>
                            </ul>
                            </br>
                            <img src="/images/home/dry-type-transformer2.jpg" alt="dry-type-transformer"
                                class="cover-img">
                            <!-- <h3 class="main-title">Successfully Installed at:</h3> -->
                            <!-- <table class="product-table">
                                <thead>
                                    <tr>
                                        <th>Client Name </th>
                                        <th>Location </th>
                                        <th>Specifications </th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>ABL International Ltd</td>
                                    <td>Kolkata</td>
                                    <td>1500 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>All India Radio</td>
                                    <td>Kolkata</td>
                                    <td>165 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Anand Lok Hospital</td>
                                    <td>Durgapur</td>
                                    <td>500 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Astor Hotel, Shakespeare Sarani</td>
                                    <td>Kolkata</td>
                                    <td>250 KVA, 6000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Awanti Corporation</td>
                                    <td>Kolkata</td>
                                    <td>1000 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Awas Co.</td>
                                    <td>Ranchi</td>
                                    <td>400 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Big Bazaar</td>
                                    <td>Howrah</td>
                                    <td>1000 KVA, 6000/433 Volts, </td>
                                </tr>
                                <tr>
                                    <td>CESC Limited</td>
                                    <td>Kolkata</td>
                                    <td>400 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>CTV Channel</td>
                                    <td>Kolkata</td>
                                    <td>500 KVA, 33000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Deutsche Maschinen Ltd</td>
                                    <td>Kolkata</td>
                                    <td>350 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Ghosh Builders</td>
                                    <td>Ranchi</td>
                                    <td>1500 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Green Wood Hospital</td>
                                    <td>Aizwal</td>
                                    <td>250 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>IFB Agro Industries Limited</td>
                                    <td>Durgapur</td>
                                    <td>250 KVA, 11000/433 Volts, </td>
                                </tr>
                                <tr>
                                    <td>Jadish jee Bohra</td>
                                    <td>Kolkata</td>
                                    <td>500 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Jindal Group</td>
                                    <td>Barbil</td>
                                    <td>500 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Jindal Group</td>
                                    <td>Barbil</td>
                                    <td>250 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Jindal Group</td>
                                    <td>Barbil</td>
                                    <td>100 KVA, 415/415 Volts</td>
                                </tr>
                                <tr>
                                    <td>Jyoti Construction</td>
                                    <td>Jamshedpur</td>
                                    <td>1250 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Jyoti Enterprise</td>
                                    <td>Ranchi</td>
                                    <td>400 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Kaveri Divya Hotel</td>
                                    <td>Ranchi</td>
                                    <td>1600 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Monalisa Co-operative Housing Ltd</td>
                                    <td>Kolkata</td>
                                    <td>315 KVA, 33000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>National Builders</td>
                                    <td>Ranchi</td>
                                    <td>1000 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>NSHM Academy</td>
                                    <td>Durgapur</td>
                                    <td>125 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Power & Electricity Department</td>
                                    <td>Aizwal</td>
                                    <td>315 KVA, 3300/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Prasad Group, Sagun Saree</td>
                                    <td>Kolkata</td>
                                    <td>500 KVA, 6600/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Shankar Nethalaya Hospital</td>
                                    <td>Raniganj</td>
                                    <td>500 KVA, 6000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Shree Radhe Industries</td>
                                    <td>Raipur</td>
                                    <td>750 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Singtron India Pvt. Ltd</td>
                                    <td>Oridsha</td>
                                    <td>750 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>SKS Public School</td>
                                    <td>Durgapur</td>
                                    <td>350 KVA, 33000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>TATA Group</td>
                                    <td>Jamshedpur</td>
                                    <td>150 KVA, 11000/433 Volts</td>
                                </tr>
                                <tr>
                                    <td>Tega Engineering Ltd.</td>
                                    <td>Kolkata</td>
                                    <td>300 KVA, 33000/433 Volts</td>
                                </tr>

                            </table> -->
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-12">
                        <%- include('partials/mainSidebar'); -%>
                    </div>

                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.service-details -->
        <!--
			=====================================================
				Why Choose Us Section
			=====================================================
			-->
        <div class="why-choose-us section-spacing">
            <div class="container" style="display: flex; flex-direction: column; justify-content: center;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h5 class="subtitle">25 Years Of Experience</h5>
                            <h2 class="title">WHY CHOOSE US</h2>
                        </div>
                    </div>
                </div>

                <div class="features-list" style="display: grid; grid-template-columns: auto auto;  max-width: 1262px;">
                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-1.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">26000 sq. ft. state of the art
                                manufacturing facility</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-2.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Eco Friendly Operation and Manufacturing
                            </h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-3.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Commitment to manufacturing quality
                                products using internationally accepted norms</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-4.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Fully equipped laboratory with high tech
                                advanced instruments and highly qualified personnel</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-5.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Best in class infrastructure</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-6.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">More than 25 years of product Knowledge
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <%- include('partials/footer'); -%>