<!DOCTYPE html>
<html lang="en">

<head>
    <title>OLTC Fitted Transformer ASVR | KVA Process Transformers </title>


    <%- include('partials/header'); -%>

        <!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
        <div class="theme-inner-banner section-spacing">
            <div class="overlay">
                <div class="container">
                    <h2>OLTC Fitted Transformer ASVR</h2>
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div> <!-- /.theme-inner-banner -->


        <!-- 
			=============================================
				Service Details
			============================================== 
			-->
        <div class="service-details section-spacing">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-xl-9 col-lg-8 col-12">
                        <div class="service-content">
                            <img src="/images/home/oltc-fitted-transformer-asvr.webp" alt="oltc-fitted-transformer-asvr"
                                class="cover-img">
                            <p>
                                The On-load tap changer (OLTC) transformer, also known as On-circuit tap changer (OCTC)
                                transformer, is a critical component in electrical power systems. It is designed to
                                provide a continuous and reliable power supply without interruption. This type of
                                transformer is equipped with an intricate yet costly mechanism known as on-load tap
                                changing which allows it to make the necessary changes while in use, making it ideal for
                                high-power applications such as motors or large appliances.
                            </p>
                            <p>OLTC transformers are used to regulate the voltage of high-power electrical systems. They
                                can automatically adjust the voltage output by changing the number of turns in the
                                transformer's primary or secondary winding, depending on the level of incoming voltage.
                                This is done without interrupting the power supply, making it ideal for applications
                                where continuity of power is critical.</p>
                            <p>In terms of construction, OLTC transformers are similar to conventional transformers, but
                                they come equipped with a tap changer mechanism that enables them to adjust the voltage
                                output without disrupting the power supply. The tap changer consists of a set of
                                switches that are used to connect the transformer winding to different taps, which are
                                located at different points along the winding. These taps can be adjusted manually or
                                automatically, depending on the application.</p>
                            <p>OLTC transformers are available in various sizes and voltage ratings to suit different
                                applications. The present product range of KVA Process Transformers includes ASVRs in 6
                                KV, 11 KV, 33 KV & 66 KV, system and up to 50 MVA. We also manufacture tailor-made
                                equipment as per the specific requirements of our customers.</p>
                            <h3 class="main-title">Product Details:</h3>
                            <h4 class="sub-heading">Our OLTC transformers are available in three types:</h4>
                            <ul class="productOrder">
                                <li style="text-align: justify;">OLTC Fitted Transformers: These transformers are
                                    equipped with an OLTC mechanism that allows them to adjust the voltage output
                                    automatically without interrupting the power supply. The OLTC panel's voltage
                                    sensing relay ensures that the appropriate tap is chosen, resulting in a regulated
                                    output voltage.</li>
                                </br>
                                <li style="text-align: justify;">OLTC with Star-Connected Auto Transformer: If the input
                                    voltage is more than 20% of its rated value, then an On-Load Tap Changer (OLTC)
                                    should be installed along with a star-connected high voltage auto transformer that
                                    has suitable taps. This must be placed in the same cabinet as the step-down
                                    transformer. The OLTC panel is fitted with a Voltage sensing relay that
                                    automatically selects the correct tap and supplies HT voltage, adjusted to within
                                    (+/- %) of the autotransformer's output, to the step-down transformer.
                                </li>
                                </br>
                                <li style="text-align: justify;">OLTC with Regulator: If a regular step-down transformer
                                    was already installed, or if it has an extremely large capacity (over 2 MVA), the
                                    regulator will be put in a different cabinet. A regulator of this sort is composed
                                    of an auto transformer with OLTC Control. The Voltage from the regulator is then
                                    passed on to the step-down transformer, thus providing reliable and regulated HT
                                    power.</li>
                            </ul>
                            </br>
                            <p><strong>This is the latest iteration of a high voltage (HV) regulator, designed to
                                    efficiently correct any fluctuations in HV supply. It is available in 4 different
                                    voltage ranges of 6KV, 11KV, 33KV & 66KV, and utilizes an ON LOAD TAP CHANGER SWITCH
                                    to regulate the supply voltage. Our OLTC transformers are reliable, efficient, and
                                    designed to meet the unique needs of your power system.</strong></p>

                            <!-- <h3 class="main-title">Successfully Installed at:</h3> -->
                            <!-- <table class="product-table">
                                <thead>
                                    <tr>
                                        <th>Client Name </th>
                                        <th>Location </th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>ABANI AGRO JUTE PRODUCTS (P) LTD.</td>
                                    <td>Malda, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>ABANI RICE MILL PVT. LTD.</td>
                                    <td>Malda, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>Alaknanda Sponge Iron Ltd.</td>
                                    <td>Durgapur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>ALPS Overseas Pvt. Ltd.</td>
                                    <td>Falta, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>ARIHANT CONTRAUCTION CO.</td>
                                    <td>Assam</td>
                                </tr>
                                <tr>
                                    <td>BANIK INDUSTRIES</td>
                                    <td>Dinajpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>BOROJALINGAH TEA CO. LTD,</td>
                                    <td>Assam</td>
                                </tr>
                                <tr>
                                    <td>CAPITAL HILL (5 STAR HOTEL)</td>
                                    <td>Ranchi, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>Chabirani Realcon LLP</td>
                                    <td>Dinajpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>CHANDANPUR TEA COMPANY</td>
                                    <td>Uttar Dinajpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>CHURUWALA HOSPITALITY PVT. LTD</td>
                                    <td>Ranchi, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>Durga Lakshmi Jute Mills Pvt. Ltd.</td>
                                    <td>Dinajpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>GREEN TEA & EXPORTS LIMITED</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>HIMALAYAS CEMENT PVT. LTD.</td>
                                    <td>Nepal</td>
                                </tr>
                                <tr>
                                    <td>HOTEL AT</td>
                                    <td>Ranchi, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>HUSTON INDIA PVT. LTD.</td>
                                    <td>Junglepur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>Hygienic Care Product industries</td>
                                    <td>Bangladesh</td>
                                </tr>
                                <tr>
                                    <td>INDIA DAIRY PRODUCTS LTD</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>INDUSTRIAL SWITCHGEARS</td>
                                    <td>Ranchi, jharkhand</td>
                                </tr>
                                <tr>
                                    <td>ISHIKA PACKAGING PVT. LTD.</td>
                                    <td>Burdwan, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>JAIKISHAN DASS MALL JUTE PRODUCTS PVT. LTD.</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>JALINGA TEA CO. (INDIA) LTD.</td>
                                    <td>Assam</td>
                                </tr>
                                <tr>
                                    <td>KABARI DIVYA HOTEL</td>
                                    <td>Ranchi, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>Kankai Tea Processing Industry</td>
                                    <td>Bhadrapur, NEPAL</td>
                                </tr>
                                <tr>
                                    <td>Kerala Sponge IRON LTD.</td>
                                    <td>Kerala</td>
                                </tr>
                                <tr>
                                    <td>KROSS LTD.</td>
                                    <td>Jamshedpur, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>Kunj Bihari Food Processors Pvt. Ltd.</td>
                                    <td>Ramghar, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>LA - Opala Ltd.</td>
                                    <td>Uttrakhand</td>
                                </tr>
                                <tr>
                                    <td>M.D.J.P. Polymers Pvt. Ltd.</td>
                                    <td>Dinajpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>MAA ANNAPURNA JUTE & CARPETS INDUSTRIES PVT. LTD.</td>
                                    <td>Dinajpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>MAHABIR CONTRUCTION CO.</td>
                                    <td>Assam</td>
                                </tr>
                                <tr>
                                    <td>MAHASHAKTI PIPE INDUSTRIES</td>
                                    <td>PATNA</td>
                                </tr>
                                <tr>
                                    <td>MAHESWARI AGRO PRODUCTS</td>
                                    <td>Burdhaman, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>NALIKUL PVT. LTD.</td>
                                    <td>Nalikul</td>
                                </tr>
                                <tr>
                                    <td>NORTH EAST AGRO PRODUCT</td>
                                    <td>Balrampur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>NOVATECH AGRO PRODUCTS (I) PVT. LTD</td>
                                    <td>Medinipur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>PANCHAM MARKETRIES PVT. LTD.</td>
                                    <td>Malda, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>PANCHAM MARKETRIES PVT. LTD.</td>
                                    <td>Bolpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>PULSER RUBBER MFG. CO. PVT. LTD.</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>Radha Gobinda Jute Mill Pvt. Ltd.</td>
                                    <td>Malda, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>RAICHANGA AGRO FOOD PROCESSING INDUS. LTD.</td>
                                    <td>Jalpaiguri</td>
                                </tr>
                                <tr>
                                    <td>Rampurhat PSC Sleepers Ltd.</td>
                                    <td>Rampurhat, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>RATHI ENTERPRISES</td>
                                    <td>Nepal</td>
                                </tr>
                                <tr>
                                    <td>Royalex Metal Industries</td>
                                    <td>Bangladesh</td>
                                </tr>
                                <tr>
                                    <td>Royalex Metal Industries</td>
                                    <td>Bangladesh</td>
                                </tr>
                                <tr>
                                    <td>SHARDA PROJECTS PRIVATE LIMITED</td>
                                    <td>Baharagor, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>SHREE GOPAL VINIYOG PVT. LTD.</td>
                                    <td>Jhargram, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>SINGHANIA RE-ROLLING MILLS PVT. LTD.</td>
                                    <td>PATNA</td>
                                </tr>
                                <tr>
                                    <td>SUPPLING AGRO TECH PVT. LTD.</td>
                                    <td>Burdwan, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>Tokai Power Products Ltd.</td>
                                    <td>Bangladesh</td>
                                </tr>
                                <tr>
                                    <td>Westwell Iron & Steel Pvt. Ltd</td>
                                    <td>Birbhum, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>ABANI AGRO JUTE PRODUCTS (P) LTD.</td>
                                    <td>Malda, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>ABANI RICE MILL PVT. LTD.</td>
                                    <td>Malda, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>Alaknanda Sponge Iron Ltd.</td>
                                    <td>Durgapur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>ALPS Overseas Pvt. Ltd.</td>
                                    <td>Falta, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>ARIHANT CONTRAUCTION CO.</td>
                                    <td>Assam</td>
                                </tr>
                                <tr>
                                    <td>BANIK INDUSTRIES</td>
                                    <td>Dinajpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>BOROJALINGAH TEA CO. LTD,</td>
                                    <td>Assam</td>
                                </tr>
                                <tr>
                                    <td>CAPITAL HILL (5 STAR HOTEL)</td>
                                    <td>Ranchi, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>Chabirani Realcon LLP</td>
                                    <td>Dinajpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>CHANDANPUR TEA COMPANY</td>
                                    <td>Uttar Dinajpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>CHURUWALA HOSPITALITY PVT. LTD</td>
                                    <td>Ranchi, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>Durga Lakshmi Jute Mills Pvt. Ltd.</td>
                                    <td>Dinajpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>GREEN TEA & EXPORTS LIMITED</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>HIMALAYAS CEMENT PVT. LTD.</td>
                                    <td>Nepal</td>
                                </tr>
                                <tr>
                                    <td>HOTEL AT</td>
                                    <td>Ranchi, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>HUSTON INDIA PVT. LTD.</td>
                                    <td>Junglepur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>Hygienic Care Product industries</td>
                                    <td>Bangladesh</td>
                                </tr>
                                <tr>
                                    <td>INDIA DAIRY PRODUCTS LTD</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>INDUSTRIAL SWITCHGEARS</td>
                                    <td>Ranchi, jharkhand</td>
                                </tr>
                                <tr>
                                    <td>ISHIKA PACKAGING PVT. LTD.</td>
                                    <td>Burdwan, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>JAIKISHAN DASS MALL JUTE PRODUCTS PVT. LTD.</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>JALINGA TEA CO. (INDIA) LTD.</td>
                                    <td>Assam</td>
                                </tr>
                                <tr>
                                    <td>KABARI DIVYA HOTEL</td>
                                    <td>Ranchi, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>Kankai Tea Processing Industry</td>
                                    <td>Bhadrapur, NEPAL</td>
                                </tr>
                                <tr>
                                    <td>Kerala Sponge IRON LTD.</td>
                                    <td>Kerala</td>
                                </tr>
                                <tr>
                                    <td>KROSS LTD.</td>
                                    <td>Jamshedpur, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>Kunj Bihari Food Processors Pvt. Ltd.</td>
                                    <td>Ramghar, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>LA - Opala Ltd.</td>
                                    <td>Uttrakhand</td>
                                </tr>
                                <tr>
                                    <td>M.D.J.P. Polymers Pvt. Ltd.</td>
                                    <td>Dinajpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>MAA ANNAPURNA JUTE & CARPETS INDUSTRIES PVT. LTD.</td>
                                    <td>Dinajpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>MAHABIR CONTRUCTION CO.</td>
                                    <td>Assam</td>
                                </tr>
                                <tr>
                                    <td>MAHASHAKTI PIPE INDUSTRIES</td>
                                    <td>PATNA</td>
                                </tr>
                                <tr>
                                    <td>MAHESWARI AGRO PRODUCTS</td>
                                    <td>Burdhaman, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>NALIKUL PVT. LTD.</td>
                                    <td>Nalikul</td>
                                </tr>
                                <tr>
                                    <td>NORTH EAST AGRO PRODUCT</td>
                                    <td>Balrampur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>NOVATECH AGRO PRODUCTS (I) PVT. LTD</td>
                                    <td>Medinipur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>PANCHAM MARKETRIES PVT. LTD.</td>
                                    <td>Malda, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>PANCHAM MARKETRIES PVT. LTD.</td>
                                    <td>Bolpur, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>PULSER RUBBER MFG. CO. PVT. LTD.</td>
                                    <td>Kolkata</td>
                                </tr>
                                <tr>
                                    <td>Radha Gobinda Jute Mill Pvt. Ltd.</td>
                                    <td>Malda, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>RAICHANGA AGRO FOOD PROCESSING INDUS. LTD.</td>
                                    <td>Jalpaiguri</td>
                                </tr>
                                <tr>
                                    <td>Rampurhat PSC Sleepers Ltd.</td>
                                    <td>Rampurhat, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>RATHI ENTERPRISES</td>
                                    <td>Nepal</td>
                                </tr>
                                <tr>
                                    <td>Royalex Metal Industries</td>
                                    <td>Bangladesh</td>
                                </tr>
                                <tr>
                                    <td>Royalex Metal Industries</td>
                                    <td>Bangladesh</td>
                                </tr>
                                <tr>
                                    <td>SHARDA PROJECTS PRIVATE LIMITED</td>
                                    <td>Baharagor, Jharkhand</td>
                                </tr>
                                <tr>
                                    <td>SHREE GOPAL VINIYOG PVT. LTD.</td>
                                    <td>Jhargram, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>SINGHANIA RE-ROLLING MILLS PVT. LTD.</td>
                                    <td>PATNA</td>
                                </tr>
                                <tr>
                                    <td>SUPPLING AGRO TECH PVT. LTD.</td>
                                    <td>Burdwan, West Bengal</td>
                                </tr>
                                <tr>
                                    <td>Tokai Power Products Ltd.</td>
                                    <td>Bangladesh</td>
                                </tr>
                                <tr>
                                    <td>Westwell Iron & Steel Pvt. Ltd</td>
                                    <td>Birbhum, West Bengal</td>
                                </tr>



                            </table>
 -->
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-12">
                        <%- include('partials/mainSidebar'); -%>
                    </div>

                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.service-details -->

        <!--
			=====================================================
				Why Choose Us Section
			=====================================================
			-->
        <div class="why-choose-us section-spacing">
            <div class="container" style="display: flex; flex-direction: column; justify-content: center;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h5 class="subtitle">25 Years Of Experience</h5>
                            <h2 class="title">WHY CHOOSE US</h2>
                        </div>
                    </div>
                </div>

                <div class="features-list" style="display: grid; grid-template-columns: auto auto;  max-width: 1262px;">
                    <div class="single-feature">
                        <div class="icon">
                            <img src="images/icon/whychoose-1.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">26000 sq. ft. state of the art
                                manufacturing facility</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="images/icon/whychoose-2.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Eco Friendly Operation and Manufacturing
                            </h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="images/icon/whychoose-3.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Commitment to manufacturing quality
                                products using internationally accepted norms</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="images/icon/whychoose-4.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Fully equipped laboratory with high tech
                                advanced instruments and highly qualified personnel</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="images/icon/whychoose-5.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Best in class infrastructure</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="images/icon/whychoose-6.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">More than 25 years of product Knowledge
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('partials/footer'); -%>