<!DOCTYPE html>
<html lang="en">

<head>
	<title>Submerged Arc Furnace Transformers| KVA Process Transformers </title>


	<%- include('partials/header'); -%>

		<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
		<div class="theme-inner-banner section-spacing">
			<div class="overlay">
				<div class="container">
					<h2>Submerged Arc Furnace Transformers</h2>
				</div> <!-- /.container -->
			</div> <!-- /.overlay -->
		</div> <!-- /.theme-inner-banner -->


		<!-- 
			=============================================
				Service Details
			============================================== 
			-->
		<div class="service-details section-spacing">
			<div class="container">
				<div class="row pt-5 pb-5">
					<div class="col-xl-9 col-lg-8 col-12">
						<div class="service-content">
							<img src="/images/home/sub-merged-arc-furnace-transformer.jpg"
								alt="sub-merged-arc-furnace-transformer" class="cover-img">
							<p>
								The Submerged Arc Furnace Transformer is a unique type of industrial electric arc
								furnace transformer that is specifically engineered to produce phosphorus and other
								related chemical products. This specialized arc transformer is most commonly associated
								with the production of ferroalloys, and it offers a highly efficient solution that
								increases productivity and reduces operational costs. The Submerged Arc Furnace
								Transformer is an indispensable part of modern industrial production, as it offers a
								reliable, cost-effective, and safe method of producing phosphorus-based products in
								large quantities. The word "submerged" implies that the electrodes of the furnace are
								deeply embedded into the material being heated in the furnace.
							</p>
							<p>
								The demand for durable and dependable furnace transformers continues to increase with
								the expansion of industrial and manufacturing enterprises that require an assured source
								of electricity for their arc, ladle, and induction furnace operations. These arc furnace
								transformers are essential for ensuring that these furnaces can operate in a safe,
								efficient and cost-effective manner with minimal downtime. KVA Process Transformers has
								designed and supplied a wide range of furnace transformers to meet any demand or
								requirement, with up to 24 pulses, multiple windings and up to 50 MVA, 66 kV Class. We
								have tested our heavy-duty range of transformers to work in demanding conditions without
								fail, as they are capable of withstanding any fluctuations in current and voltage.
								Furthermore, these transformers provide consistent performance over long periods of
								time, even under stressful conditions.</p>
							<p>
								Our in-house design facility and advanced Submerged Arc Furnace transformers are
								renowned for their robust, sturdy design and long-lasting performance. We have numerous
								satisfied customers who come back to us time and again, thus proving the reliability of
								our products.
							</p>
							<p>Submerged Arc Melting Transformers are manufactured in 3 Phase and Single-Phase System.
							</p>
							<img src="/images/home/sumerged-product-page-1photo.jpg" alt="">


							<h3 class="main-title">Product Details:</h3>
							<h4 class="sub-heading">Three phase units are:</h4>
							<ul class="productOrder" type="circle">
								<li>Tap windings are connected in line with the main High Tension (HT) windings within a
									single core frame and stored in one tank along with a On Load Tap Changer (OLTC).
								</li>
								<li>Autotransformers and main transformers are both housed in the same tank, allowing
									for the separate winding of taps. This setup facilitates efficient energy
									transmission and distribution. </li>
								<li>Winding circuits are linked through an anti-transformer in one tank, while the
									principal transformer is located in a distinct receptacle. An OLTC features both
									tanks to adjust the voltage. </li>

							</ul>
							</br>
							<h4 class="sub-heading">Single phase units are:</h4>
							<ul class="productOrder" type="circle">
								<li>Three independent single-phase transformers, with taps in the windings linked to the
									HT windings, assembled together in one core frame and tank with an on-load tap
									changer (OLTC). </li>
								<li>Three single-phase units are set up with a Tap winding via an Auto Transformer
									alongside the Main Transformer, all housed in one tank. An OLTC is also included to
									complete the system.
								</li>
								<li>Three individual single phase units, each featuring only a main transformer. A OLTC
									and three phase auto transformer shall be housed in a separate container. </li>

							</ul>

							</br>
							<img src="/images/home/sumerged-product-page-2photo.jpg"
								alt="sub-merged-arc-furnace-transformer" class="cover-img">
							<!-- <h3 class="main-title">Successfully Installed at:</h3> -->
							<!-- <table class="product-table">
								<thead>
									<tr>
										<th>Client Name </th>
										<th>Location </th>
										<th>Specifications </th>
									</tr>
								</thead>
								<tr>
									<td>Global Hi-Tech Ltd.</td>
									<td>Gujrat</td>
									<td>11 MVA, 11000/75 -170 Volts</td>
								</tr>
								<tr>
									<td>Hygienic Care Product industries</td>
									<td>Bangladesh</td>
									<td>9 MVA, 33000/70-130 Volts</td>
								</tr>
								<tr>
									<td>Ispat Alloys Ltd.</td>
									<td>Bangladesh</td>
									<td>4.5 MVA, 33000/70-130 Volts.</td>
								</tr>
								<tr>
									<td>Karthik Alloys Ltd.</td>
									<td>Durgapur</td>
									<td>4.5 MVA, 33000/70-130 Volts.</td>
								</tr>
								<tr>
									<td>Karthik Alloys Ltd. </td>
									<td>Goa</td>
									<td>7.5 MVA, 33000/90-140 Volts</td>
								</tr>
								<tr>
									<td>Millennium Hi- Tech Ltd.</td>
									<td>Raipur</td>
									<td>5 MVA, 33000/70-130 Volts.</td>
								</tr>
								<tr>
									<td>Royal Metal Industries</td>
									<td>Bangladesh</td>
									<td>9 MVA, 33000/95-105 Volts.</td>
								</tr>
								<tr>
									<td>Texmaco Rail & Engineering Ltd.</td>
									<td>Kolkata</td>
									<td>5 MVA , 11000/25-949 Volts</td>
								</tr>
								<tr>
									<td>Titagarh Wagons Ltd. (Unit : Titagarh Steels)</td>
									<td>Kolkata</td>
									<td>2000 KVA,33000/ 25-949 Volts.</td>
								</tr>
								<tr>
									<td>Cosmic Ferro Alloys Ltd.</td>
									<td>Durgapur</td>
									<td>6.5 MVA, 33000/80 - 110 Volts</td>
								</tr>

							</table> -->
						</div>
					</div>

					<!-- Moved sidebar here and adjusted column sizing -->
					<div class="col-xl-3 col-lg-4 col-12">
						<%- include('partials/mainSidebar'); -%>
					</div>
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.service-details -->


		<div>
			<div class="why-choose-us section-spacing">
				<div class="container" style="display: flex; flex-direction: column; justify-content: center;">
					<div class="row">
						<div class="col-lg-12">
							<div class="section-title text-center">
								<h5 class="subtitle">25 Years Of Experience</h5>
								<h2 class="title">WHY CHOOSE US</h2>
							</div>
						</div>
					</div>

					<div class="features-list"
						style="display: grid; grid-template-columns: auto auto;  max-width: 1262px;">
						<div class="single-feature">
							<div class="icon">
								<img src="/images/icon/whychoose-1.png" width="50px" alt="">
							</div>
							<div class="feature-content">
								<h3 style="font-size: clamp(16px, 2.5vw, 20px);">18000 sq. ft. state of the art
									manufacturing facility</h3>
							</div>
						</div>

						<div class="single-feature">
							<div class="icon">
								<img src="/images/icon/whychoose-2.png" width="50px" alt="">
							</div>
							<div class="feature-content">
								<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Eco Friendly Operation and
									Manufacturing
								</h3>
							</div>
						</div>

						<div class="single-feature">
							<div class="icon">
								<img src="/images/icon/whychoose-3.png" width="50px" alt="">
							</div>
							<div class="feature-content">
								<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Commitment to manufacturing quality
									products using internationally accepted norms</h3>
							</div>
						</div>

						<div class="single-feature">
							<div class="icon">
								<img src="/images/icon/whychoose-4.png" width="50px" alt="">
							</div>
							<div class="feature-content">
								<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Fully equipped laboratory with high
									tech
									advanced instruments and highly qualified personnel</h3>
							</div>
						</div>

						<div class="single-feature">
							<div class="icon">
								<img src="/images/icon/whychoose-5.png" width="50px" alt="">
							</div>
							<div class="feature-content">
								<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Best in class infrastructure</h3>
							</div>
						</div>

						<div class="single-feature">
							<div class="icon">
								<img src="/images/icon/whychoose-6.png" width="50px" alt="">
							</div>
							<div class="feature-content">
								<h3 style="font-size: clamp(16px, 2.5vw, 20px);">More than 25 years of product Knowledge
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%- include('partials/footer'); -%>