<!DOCTYPE html>
<html lang="en">

<head>
    <title>Induction Melting Furnace Transformers | KVA Process Transformers </title>


    <%- include('partials/header'); -%>

        <!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
        <div class="theme-inner-banner section-spacing">
            <div class="overlay">
                <div class="container">
                    <h2>Induction Melting Furnace Transformers</h2>
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div> <!-- /.theme-inner-banner -->


        <!-- 
			=============================================
				Service Details
			============================================== 
			-->
        <div class="service-details section-spacing">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-xl-9 col-lg-8 col-12">
                        <div class="service-content">
                            <img src="/images/home/induction-melting-furnace-transformer2.jpg"
                                alt="induction-melting-furnace-transformer" class="cover-img">
                            <p>
                                <!-- The Induction Furnace consists of a coil made from substantial copper pipes that is tuned to the inverter circuit which supplies a medium frequency voltage (generally 500 Hz to 1000 Hz) to the induction coil. An induction coil produces a magnetic field that causes eddy currents in the charged material, thus heating it. To increase the rate of heat generation, medium frequency is necessary. -->
                            </p>
                            <p>
                                For inverter circuits to function, they require a direct current voltage which is
                                derived from transforming the existing three-phase alternating current voltage.
                                Induction Furnace Transformers (also known as Rectifier/ Converter Duty Transformers)
                                take three-phase Alternating Current(A.C) input and convert it to the requisite voltage
                                needed for an induction furnace's converter circuit.
                            </p>
                            <p>
                                Rectifiers are available in different ratings and their primary (or line side) voltage
                                is derived from standard three-phase AC distribution voltages such as 3.3 kV, 6.6 kV, 11
                                kV, 22 kV, 33 kV or 66 kV. The secondary (cell side) voltage of a device can be between
                                400 - 1100 Volts depending on the desired DC output Voltage.
                            </p>
                            <h3 class="main-title">Product Details:</h3>
                            <p>Induction Melting Furnace Transformers are manufactured for four types of Pulse system:
                            </p>
                            <ul class="productOrder">
                                <li>6 Pulse</li>
                                <li>12 Pulse</li>
                                <li>18 Pulse</li>
                                <li>24 Pulse</li>
                            </ul>
                            <p>The most important aspect of a furnace transformer is its ability to withstand frequent
                                short circuit, which needs selection of proper conductor size, type of coils used and
                                selection of current density of conductor and flux density of CRGO core for better Short
                                Circuit Protection.</p>
                            </br>
                            <h4 class="sub-heading">Our Transformers are installed with Furnaces of :</h4>
                            <ul class="productOrder">
                                <li>Inductotherm</li>
                                <li>Meghatherm</li>
                                <li>Electrotherm</li>
                                <li>Indotherm</li>
                                <li>G.A. Dannially</li>
                            </ul>

                            </br>
                            <div style="display: flex; justify-content: center;">
                                <img src="/images/home/induction-furnace-transformer-final.png"
                                    alt="induction-melting-furnace-transformer" class="cover-img">
                            </div>
                            <!-- <h3 class="main-title">Successfully Installed at:</h3> -->
                            <!-- <table class="product-table">
                                <thead>
                                    <tr>
                                        <th>Client Name </th>
                                        <th>Location </th>
                                        <th>Specifications </th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>ADHUNIK GROUP OF INDUSRIES</td>
                                    <td>Durgapur</td>
                                    <td>7.5 MVA, 33000/950-950 Volts</td>
                                </tr>
                                <tr>
                                    <td>Alaknanda Sponge Iron Pvt. Ltd.</td>
                                    <td>Durgapur</td>
                                    <td>4500 KVA , 33000/850-850 Volts</td>
                                </tr>
                                <tr>
                                    <td>AMIT FERRO ALLOYS & STEEL PVT. LTD.</td>
                                    <td>Durgapur</td>
                                    <td>7500 KVA, 33000/1135-1135 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Bishan Dayal & Sons Pvt. Ltd.</td>
                                    <td>Barjora</td>
                                    <td>3500 KVA, 33000/1000-1000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Dina Metal Pvt. Ltd.</td>
                                    <td>Patna</td>
                                    <td>3500 KVA, 11000/575-575 Volts</td>
                                </tr>
                                <tr>
                                    <td>Divine Alloys & Power Co. Ltd.</td>
                                    <td>Ranchi</td>
                                    <td>6500 KVA, 33000/1135-1135 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Electro Steel Castings Ltd.</td>
                                    <td>Jamshedpur</td>
                                    <td>3250 KVA, 33000/850-850 Volts</td>
                                </tr>
                                <tr>
                                    <td>Gagan Commodities Pvt. Ltd.</td>
                                    <td>Durgapur</td>
                                    <td>4200 KVA, 33000/575-575 Volts</td>
                                </tr>
                                <tr>
                                    <td>Global Hi-Tech Ltd. </td>
                                    <td>Gujrat</td>
                                    <td>9 MVA, 11000/1135-1135 Volts.</td>
                                </tr>
                                <tr>
                                    <td>GPS Steels Trade Linkers Pvt. Ltd.</td>
                                    <td>Durgapur</td>
                                    <td>4500 KVA, 33000/900-900 Volts</td>
                                </tr>
                                <tr>
                                    <td>Impex Group</td>
                                    <td>Bokaro</td>
                                    <td>5 MVA, 33000/850-850 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Indotherm Furnaces Pvt. Ltd.</td>
                                    <td>Kolkata</td>
                                    <td>3800 KVA, 11000/800-800 Volts</td>
                                </tr>
                                <tr>
                                    <td>Jai Ambey Metals Pvt. Ltd.</td>
                                    <td>Durgapur</td>
                                    <td>3750 KVA, 33000/850-850 Volts.</td>
                                </tr>
                                <tr>
                                    <td>K.R.Steels Pvt. Ltd.</td>
                                    <td>Hyderabad</td>
                                    <td>11 MVA, 33000/433-433 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Kohinoor Group of Industries</td>
                                    <td>Ranchi</td>
                                    <td>3150 KVA, 33000/850-850 Volts.</td>
                                </tr>
                                <tr>
                                    <td>La-Opala Ltd.</td>
                                    <td>Uttarakhand</td>
                                    <td>6500 KVA, 33000/900-900 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Rattan Ispat Pvt. Ltd.</td>
                                    <td>Durgapur</td>
                                    <td>4200 KVA, 33000/900-900Volts</td>
                                </tr>
                                <tr>
                                    <td>RUKMINIRAMA STEEL ROLLINGS PVT. LTD.</td>
                                    <td>Durgapur</td>
                                    <td>8 MVA, 33000/1000-1000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Sharda Shree Ispat ltd.</td>
                                    <td>Nagpur</td>
                                    <td>4500 kVA, 33000/440-440 Volts</td>
                                </tr>
                                <tr>
                                    <td>Shibh Labh Ispat Pvt. Ltd.</td>
                                    <td>Raipur</td>
                                    <td>5500 KVA, 33000/900-900 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Shikkim Agro Chem Pvt. Ltd.</td>
                                    <td>shikkim</td>
                                    <td>6500 KVA, 33000/1135-1135 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Shree Casting Pvt. Ltd.</td>
                                    <td>Nagpur</td>
                                    <td>3500 KVA, 33000/850-850 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Shree Gopal Hi-Tech Pvt. Ltd.</td>
                                    <td>Durgapur</td>
                                    <td>4800 KVA, 33000/850-850 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Shyam Sel Ltd. </td>
                                    <td>Barjora</td>
                                    <td>3250 KVA, 33000/900-900 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Shyam Steel Industries Ltd.</td>
                                    <td>Durgapur</td>
                                    <td>4500 KVA, 33000/433-433 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Shyam Steel Industries Ltd.</td>
                                    <td>Durgapur</td>
                                    <td>3000 KVA, 33000/433-433 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Southern Ispat Ltd.</td>
                                    <td>Kerala</td>
                                    <td>9 MVA, 33000/1000-1000 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Sova Electro Casting Ltd.</td>
                                    <td>Durgapur</td>
                                    <td>3200 KVA, 33000/850-850 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Steel Abrasive Industries Ltd.</td>
                                    <td>Raipur</td>
                                    <td>7200 KVA, 33000/850-850 Volts</td>
                                </tr>
                                <tr>
                                    <td>Steel Crakers Pvt. Ltd.</td>
                                    <td>Serampore</td>
                                    <td>3600 KVA, 33000/850-850 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Swastik Ingot Pvt. Ltd.</td>
                                    <td>Barjora</td>
                                    <td>4200 KVA, 33000/850-850 Volts.</td>
                                </tr>
                                <tr>
                                    <td>Vishwa Ispat Profiles Pvt. Ltd.</td>
                                    <td>Rourkela</td>
                                    <td>3500 KVA, 33000/850-850 Volts.</td>
                                </tr>


                            </table> -->


                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-12">
                        <%- include('partials/mainSidebar'); -%>
                    </div>

                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.service-details -->

        <!--
			=====================================================
				Why Choose Us Section
			=====================================================
			-->
        <div class="why-choose-us section-spacing">
            <div class="container" style="display: flex; flex-direction: column; justify-content: center;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h5 class="subtitle">25 Years Of Experience</h5>
                            <h2 class="title">WHY CHOOSE US</h2>
                        </div>
                    </div>
                </div>

                <div class="features-list" style="display: grid; grid-template-columns: auto auto;  max-width: 1262px;">
                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-1.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">26000 sq. ft. state of the art
                                manufacturing facility</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-2.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Eco Friendly Operation and Manufacturing
                            </h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="images/icon/whychoose-3.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Commitment to manufacturing quality
                                products using internationally accepted norms</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-4.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Fully equipped laboratory with high tech
                                advanced instruments and highly qualified personnel</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-5.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">Best in class infrastructure</h3>
                        </div>
                    </div>

                    <div class="single-feature">
                        <div class="icon">
                            <img src="/images/icon/whychoose-6.png" width="50px" alt="">
                        </div>
                        <div class="feature-content">
                            <h3 style="font-size: clamp(16px, 2.5vw, 20px);">More than 25 years of product Knowledge
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('partials/footer'); -%>