<!DOCTYPE html>
<html lang="en">

<head>
    <title>LT Panel Board | KVA Process Transformers </title>

        

    <%- include('partials/header'); -%>

        <!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
        <div class="theme-inner-banner section-spacing">
            <div class="overlay">
                <div class="container">
                    <h2>LT Panel Board</h2>
                </div> <!-- /.container -->
            </div> <!-- /.overlay -->
        </div> <!-- /.theme-inner-banner -->


        <!-- 
			=============================================
				Service Details
			============================================== 
			-->
        <div class="service-details section-spacing pt-5 pb-5">
            <div class="container">
                <div class="row pt-5 pb-5">
                    <div class="col-xl-9 col-lg-8 col-12">
                        <div class="service-content">
                            <img src="/images/home/LT-Panel-Board2.jpeg.jpg" alt="earthing-transformers"
                                class="cover-img">

                            <p>
                                LT Panel Boards get their power from either a generator or transformer, and subsequently disperse electricity to a variety of electronic devices & panels. Our team of experts has enabled us to offer our clients an expansive selection of these electric distribution boards. People appreciate our products for their outstanding performance, minimal upkeep needs, trustworthiness, easy installation and safety features.
                            </p>
                            <p>KVA PROCESS brand panels are constructed using a high-grade 2mm thick CRCA Sheet steel. These panels can be single or double fronted and are designed to be dust &amp; vermin proof. They can handle 3 phase 415 Volts AC supply systems at 50 Hz, with a protection class of IP:52.</p>
                            <p>
                                We use electrolytic grade Copper Busbars with high conductivity &amp; a current density of 1.6 Amp/sq.mm in our panels, along with Electrolytic grade E91E Aluminium Busbars of 1.0 amp/sq.mm current density. The Busbars are suitably wrapped with Heat shrinkable PVC sleeves and colour coded for easy identification and protection from external elements. Building materials are also given the necessary FRP supports they need to be strong and endure short circuit conditions.
                            </p>
                            <p>
                                All the doors, cut-outs for cable entry plates etc. shall have best quality synthetic rubber gaskets without any discontinuity to make the panel completely dust, damp &amp; vermin proof. Necessary pre-treatment on the surface of the panel board is carried out prior to powder coating i.e., Degreasing, Derusting, Phosphating and passivation to have a count of 8-10 micron phosphate coat. This is a nine-tank hot phosphating process. The panel shall be finished with oven-baked Powder coating to shade no. RAL7032.
                            </p>

                            <h4 class="sub-heading">PRODUCT RANGE: </h4>
                            <ul class="productOrder">
                                <li>Power Control Centre</li>
                                <li>Motor Control Centre</li>
                                <li>Power Distribution Boards</li>
                                <li>Automatic Power Factor Controller</li>
                                <li>33KV Relay Control Panel</li>
                                <li>Automatic Change Over Panels</li>
                                <li>Auto-mains failure Panels</li>
                                <li>Furnace Control Desks</li>
                                <li>Distribution Boards</li>
                                <li>Control Boards</li>
                                <li>Synchronizing Control Panel</li>
                                <li>D.G. Set Main Control Panel</li>
                                <li>L.T. Bus Duct System</li>
                            </ul>
                        </div>
                    </div>

                        <div class="col-xl-3 col-lg-4 col-12">
                            <%- include('partials/mainSidebar'); -%>
                        </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div> <!-- /.service-details -->

<!--
			=====================================================
				Why Choose Us Section
			=====================================================
			-->
			<div class="why-choose-us section-spacing">
				<div class="container" style="display: flex; flex-direction: column; justify-content: center;">
					<div class="row">
						<div class="col-lg-12">
							<div class="section-title text-center">
								<h5 class="subtitle">25 Years Of Experience</h5>
								<h2 class="title">WHY CHOOSE US</h2>
							</div>
						</div>
					</div>
					
					<div class="features-list" style="display: grid; grid-template-columns: auto auto;  max-width: 1262px;">
						<div class="single-feature">
							<div class="icon">
								<img src="images/icon/whychoose-1.png" width="50px" alt="">
							</div>
							<div class="feature-content">
								<h3 style="font-size: clamp(16px, 2.5vw, 20px);">26000 sq. ft. state of the art manufacturing facility</h3>
							</div>
						</div>
						
						<div class="single-feature">
							<div class="icon">
								<img src="images/icon/whychoose-2.png" width="50px" alt="">
							</div>
							<div class="feature-content">
								<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Eco Friendly Operation and Manufacturing</h3>
							</div>
						</div>
						
						<div class="single-feature">
							<div class="icon">
								<img src="images/icon/whychoose-3.png" width="50px" alt="">
							</div>
							<div class="feature-content">
								<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Commitment to manufacturing quality products using internationally accepted norms</h3>
							</div>
						</div>
						
						<div class="single-feature">
							<div class="icon">
								<img src="images/icon/whychoose-4.png" width="50px" alt="">
							</div>
							<div class="feature-content">
								<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Fully equipped laboratory with high tech advanced instruments and highly qualified personnel</h3>
							</div>
						</div>
						
						<div class="single-feature">
							<div class="icon">
								<img src="images/icon/whychoose-5.png" width="50px" alt="">
							</div>
							<div class="feature-content">
								<h3 style="font-size: clamp(16px, 2.5vw, 20px);">Best in class infrastructure</h3>
							</div>
						</div>
						
						<div class="single-feature">
							<div class="icon">
								<img src="images/icon/whychoose-6.png" width="50px" alt="">
							</div>
							<div class="feature-content">
								<h3 style="font-size: clamp(16px, 2.5vw, 20px);">More than 25 years of product Knowledge</h3>
							</div>
						</div>
					</div>
				</div>
			</div>

                <%- include('partials/footer'); -%>